{#-- Global footer --#}
{# Cookie Manage Button if Cookie has been set #}
<a id="mangeCookies" onClick="klaro.show();return false;">
  {{ svg('@webroot/dist/img/svg/cookie.svg') }}
  <div>{{ 'translate.klaro.manage-cookies'|t }}</div>
</a>
{#-- Browser fixes --#}
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
