/*
 |--------------------------------------------------------------------------
 | .c-coverImage
 |--------------------------------------------------------------------------
 */

.c-coverImage {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  > img {
    height: 100%;
    width: 100%;
  }
}
