/*
 |--------------------------------------------------------------------------
 | .c-coverVideo
 |--------------------------------------------------------------------------
 */

.c-coverVideo {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  .c-image,
  .c-image img {
    height: 100%;
    width: 100%;
  }
}
