{#
  c-coverVideo
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  name: 'c-coverVideo',
  image: null,
  transform: null,
  objectFit: null
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{# Modul #}
{% if props.image %}
  <div {{ macroComponentSettings.componentSettings(props.settings) }}>
    {% include '_components/image/picture.twig' with {
      props: {
        image: props.image ??? null,
        transform: props.transform ??? null,
        objectFit: props.objectFit ??? 'cover'
      }
    } only %}
  </div>
{% endif %}
