@layer base {
  :root {
    --c-black: 0 0 0;
    --c-white: 255 255 255;

    /* Tailwind WarmGray */
    --c-gray-50: 250 250 249;
    --c-gray-100: 245 245 244;
    --c-gray-200: 231 229 228;
    --c-gray-300: 214 211 209;
    --c-gray-400: 168 162 158;
    --c-gray-500: 120 113 108;
    --c-gray-600: 87 83 78;
    --c-gray-700: 68 64 60;
    --c-gray-800: 41 37 36;
    --c-gray-900: 28 25 23;

    /* Tailwind Emerald */
    --c-primary-50: 236 253 245;
    --c-primary-100: 209 250 229;
    --c-primary-200: 167 243 208;
    --c-primary-300: 110 231 183;
    --c-primary-400: 52 211 153;
    --c-primary-500: 16 185 129;
    --c-primary-600: 5 150 105;
    --c-primary-700: 4 120 87;
    --c-primary-800: 6 95 70;
    --c-primary-900: 6 78 59;

    /* Tailwind Yellow */
    --c-secondary-50: 254 252 232;
    --c-secondary-100: 254 249 195;
    --c-secondary-200: 254 240 138;
    --c-secondary-300: 253 224 71;
    --c-secondary-400: 250 204 21;
    --c-secondary-500: 234 179 8;
    --c-secondary-600: 202 138 4;
    --c-secondary-700: 161 98 7;
    --c-secondary-800: 133 77 14;
    --c-secondary-900: 113 63 18;
  }

  /*
  .theme-red {
    --c-gray-100: 0 0 0;
  }
  */
}
