/*@font-face {
  font-family: BerninaSans;
  font-weight: 300;
  font-display: swap;
  src: url("/base/fonts/BerninaSans-Web-Light.woff") format("woff");
}

@font-face {
  font-family: BerninaSans;
  font-weight: 400;
  font-display: swap;
  src: url("/base/fonts/BerninaSans-Web-Regular.woff") format("woff");
}

@font-face {
  font-family: BerninaSans;
  font-weight: 500;
  font-display: swap;
  src: url("/base/fonts/BerninaSans-Web-Semibold.woff") format("woff");
}

@font-face {
  font-family: BerninaSans;
  font-weight: 800;
  font-display: swap;
  src: url("/base/fonts/BerninaSans-Web-Extrabold.woff") format("woff");
}

@font-face {
  font-family: VeraMono;
  font-weight: 400;
  font-display: swap;
  src: url("/base/fonts/VeraMono.woff") format("woff");
}*/
