@layer base {
  html {
    font-family: var(--font-sans);
    line-height: var(--leading-base, 1.625);
    font-size: 100%;
    min-height: 0vw;
    scroll-behavior: auto;
    scroll-behavior: smooth;
  }

  body {
    color: var(--color-gray-900);
    background-color: var(--color-white);
    font-family: var(--font-sans);
    font-size: var(--text-base);
  }

  button {
    cursor: pointer;
  }


  #appWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
