{# -- Pages Articles -- #}
{# ---------------------------------------------------------------------- #}

{% extends "_layouts/_master.twig" %}
{% set bodyClass = "p-articles" %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{# -- Query Entries -- #}
{# To Skip the Current id add: id: 'and, not ' ~ entry.id #}
{% set entries = craft.entries({
  section: 'articles',
  relatedTo: null,
  limit: 3,
  offset: null
}) %}
{% paginate entries as pageInfo, pageEntries %}

{# -- Rel Nav -- #}
{% block appHeader %}
  {% include '_partials/header/_siteHeaderLinks.twig' with {
    pageInfo: pageInfo
  } only %}
{% endblock %}

{# -- App Content -- #}
{% block appContent %}
  {# -- Cache -- #}
  {% cache using key 'article-archive-' ~ craft.app.request.pathInfo ~ (craft.app.request.pageNum ? '/p' ~ craft.app.request.pageNum : '') %}

    <div class="o-section">
      <div class="o-row">
        <div class="o-col-6  o-col-s-24">
          {# -- Include Page Title -- #}
          {% include '_molecules/pageTitle/_template.twig' with {
            opt: {
              object: entry,
              size: 'h1'
            }
          } only %}
        </div>
      </div>
    </div>

    <div class="o-section">
      <div class="o-row">
        <div class="o-col-6  o-col-s-24">
          {# -- Entry Intro -- #}
          {% if entry.entrySummary ?? null %}
            {% include '_atoms/richText/_template.twig' with {
              opt: {
                text: entry.entrySummary
              }
            } only %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="o-section">
      <div class="o-row">
        <div class="o-col-6  o-col-s-24">
          {# -- Cards --#}
          {% include '_organisms/cards/_template.twig' with {
            opt: {
              items: pageEntries,
              pageInfo: pageInfo,
              pagination: true,
              paginationSimple: false
            }
          } only %}
        </div>
      </div>
    </div>
    {# -- Cache End -- #}
  {% endcache %}
{% endblock %}

