{% extends "_layouts/layout-default.twig" %}
{% set templatePath = _self ??? '' %}

{% block blockAppContent %}
  {% cache %}
    {% minify %}
      {% do craft.app.elements.eagerLoadElements(
        className(entry),
        [entry],
        [''] | merge(eagerLoading.builderContent ??? '')
      ) %}

      {# >>> Render page title #}
      <div class="container py-16">
        {{ include('_components/text/headline.twig', {
          data: {
            text: entry.entryCustomTitle ??? entry.title ??? null,
            variantSize: 'mega',
            tag: 'h1',
          }
        }, withContext = false) }}
      </div>

      {{ include('_builders/_builderContent.twig', {
        data: {
          contentBuilder: entry.builderContent ??? null,
        }
      }, withContext = false) }}
    {% endminify %}
  {% endcache %}
{% endblock %}
