{# -- Pages Default -- #}
{# ---------------------------------------------------------------------- #}

{% extends "_layouts/_master.twig" %}
{% set bodyClass = "p-twoColumns" %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{# -- App Content -- #}
{% block appContent %}
  {# -- Cache -- #}
  {% cache using key _self ~ "-page-" ~ craft.app.request.pathInfo %}
    {# If you have a Template with Pagination use this: #}
    {# {% cache using key _self ~ '-archive-' ~ craft.app.request.pathInfo ~ (craft.app.request.pageNum ? '/p' ~ craft.app.request.pageNum : '') %} #}


    <div class="o-section">
      <div class="o-row">
        <div class="o-col-6  o-col-s-24">
          {# -- Include Page Title -- #}
          {% include '_molecules/pageTitle/_template.twig' with {
            opt: {
              object: entry,
              size: 'h1'
            }
          } only %}

          {# -- Entry Intro -- #}
          {% if entry.entrySummary ?? null %}
            {% include '_atoms/richText/_template.twig' with {
              opt: {
                text: entry.entrySummary
              }
            } only %}
          {% endif %}

          {# -- Image Entry -- #}
          {% if entry.entryImage.one() ?? null %}
            {% include '_atoms/headline/_template.twig' with {
              opt: {
                text: 'Image Entry',
                size: 'h3'
              }
            } only %}

            {% include '_organisms/imageSingle/_template.twig' with {
              opt: {
                image: entry.entryImage.one() ?? null,
                ratio: 'landscape'
              }
            } only %}
          {% endif %}
        </div>
      </div>
    </div>

    {# -- Block: Content -- #}
    {% if opt.content %}
      <div class="o-section">
        <div class="o-row">
          <div class="o-col-6  o-col-s-16">
            {# -- Content Builder -- #}
            {% include '_contentBuilders/_contentBuilder.twig' with {
              opt: {
                object: entry,
                context: '12:16'
              }
            } only %}
          </div>

          {# -- Block: Sidebar -- #}
          {% if opt.sidebar %}
            <div class="o-col-6  o-col-s-8">
              {% include '_atoms/headline/_template.twig' with {
                opt: {
                  text: 'Sidebar'
                }
              } only %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {# -- Cache End -- #}
  {% endcache %}
{% endblock %}

