/*
 |--------------------------------------------------------------------------
 | @package  craft-baukasten
 | @author David Hellmann [david@hellmann.io]
 |
 | .c-container
 |--------------------------------------------------------------------------
 */

/* prettier-ignore */
.c-container {
  /*Put your styles here*/
}
