{% extends "_layouts/layout-patternlib.twig" %}

{% block blockAppContent %}
  {% cache using key craft.app.request.pathInfo %}

    {# >>> Render variant #}
    {% embed 'hidden/patternlib/_partials/_embedComp.twig' %}
      {% block label %}Primary buttons{% endblock %}
      {% block content %}
        <div class="pl-compsInRowCentered">
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'primary',
              variantSize: 'sm'
            },
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'primary',
              variantSize: 'md'
            },
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'primary',
              variantSize: 'lg'
            },
          } only %}
        </div>
      {% endblock %}
    {% endembed %}

    {# >>> Render variant #}
    {% embed 'hidden/patternlib/_partials/_embedComp.twig' %}
      {% block label %}Secondary buttons{% endblock %}
      {% block content %}
        <div class="pl-compsInRowCentered">
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'secondary',
              variantSize: 'sm'
            },
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'secondary',
              variantSize: 'md'
            },
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'secondary',
              variantSize: 'lg'
            },
          } only %}
        </div>
      {% endblock %}
    {% endembed %}

    {# >>> Render variant #}
    {% embed 'hidden/patternlib/_partials/_embedComp.twig' %}
      {% block label %}Outlined buttons{% endblock %}
      {% block content %}
        <div class="pl-compsInRowCentered">
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'outlined',
              variantSize: 'sm'
            },
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'outlined',
              variantSize: 'md'
            },
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'outlined',
              variantSize: 'lg'
            },
          } only %}
        </div>
      {% endblock %}
    {% endembed %}


    {# >>> Render variant #}
    {% embed 'hidden/patternlib/_partials/_embedComp.twig' %}
      {% block label %}Button with leading icon{% endblock %}
      {% block content %}
        <div class="pl-compsInRowCentered">
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'primary',
              variantSize: 'sm',
              icon: 'icons/sharp/mail',
              iconSize: 'sm',
            },
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'primary',
              variantSize: 'md',
              icon: 'icons/sharp/mail',
              iconSize: 'md',
            },
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'primary',
              variantSize: 'lg',
              icon: 'icons/sharp/mail',
              iconSize: 'md',
            },
          } only %}
        </div>
      {% endblock %}
    {% endembed %}


    {# >>> Render variant #}
    {% embed 'hidden/patternlib/_partials/_embedComp.twig' %}
      {% block label %}Button with trailing icons{% endblock %}
      {% block content %}
        <div class="pl-compsInRowCentered">
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'primary',
              variantSize: 'sm',
              icon: 'icons/sharp/mail',
              iconSize: 'sm',
              reverse: true,
            },
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'primary',
              variantSize: 'md',
              icon: 'icons/sharp/mail',
              iconSize: 'md',
              reverse: true,
            },
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'primary',
              variantSize: 'lg',
              icon: 'icons/sharp/mail',
              iconSize: 'md',
              reverse: true,
            },
          } only %}
        </div>
      {% endblock %}
    {% endembed %}

    {# >>> Render variant #}
    {% embed 'hidden/patternlib/_partials/_embedComp.twig' %}
      {% block label %}Round buttons{% endblock %}
      {% block content %}
        <div class="pl-compsInRowCentered">
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'primary',
              variantSize: 'sm',
            },
            classes: {
              rounded: 'rounded-full'
            }
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'primary',
              variantSize: 'md',
            },
            classes: {
              rounded: 'rounded-full'
            }
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Button text',
              variant: 'primary',
              variantSize: 'lg',
            },
            classes: {
              rounded: 'rounded-full'
            }
          } only %}
        </div>
      {% endblock %}
    {% endembed %}

    {# >>> Render variant #}
    {% embed 'hidden/patternlib/_partials/_embedComp.twig' %}
      {% block label %}Round buttons{% endblock %}
      {% block content %}
        <div class="pl-compsInRowCentered">
          {% include '_components/button/button.twig' with {
            data: {
              variant: 'primary',
              variantSize: 'smIcon',
              icon: 'icons/sharp/add',
              iconSize: 'sm',
            },
            classes: {
              rounded: 'rounded-full'
            }
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              variant: 'primary',
              variantSize: 'mdIcon',
              icon: 'icons/sharp/add',
              iconSize: 'md',
            },
            classes: {
              rounded: 'rounded-full'
            }
          } only %}
          {% include '_components/button/button.twig' with {
            data: {
              variant: 'primary',
              variantSize: 'lgIcon',
              icon: 'icons/sharp/add',
              iconSize: 'lg',
            },
            classes: {
              rounded: 'rounded-full'
            }
          } only %}
        </div>
      {% endblock %}
    {% endembed %}

  {% endcache %}
{% endblock %}


