{% extends "_layouts/layout-patternlib.twig" %}

{% block blockAppContent %}
  {% cache using key craft.app.request.pathInfo %}
    {# >>> Render variant #}
    {% embed "hidden/patternlib/_partials/_embedComp.twig" %}
      {% block label %}
        Plain
      {% endblock %}
      {% block content %}
        {{
          include(
            "_components/text/text.twig",
            {
              data: {
                richText: false,
                text: "Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat ocurreret te, eos diceret accumsan in?\n The quick brown fox jumps over the lazy dogs"
              }
            },
            withContext = false
          )
        }}
      {% endblock %}
    {% endembed %}

    {# >>> Render variant #}
    {% embed "hidden/patternlib/_partials/_embedComp.twig" %}
      {% block label %}
        Plain
      {% endblock %}
      {% block content %}
        {{
          include(
            "_components/text/text.twig",
            {
              data: {
                text: '<h2>This is a headline h2</h2><p>Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat <a href="#">ocurreret</a> te, eos diceret accumsan in? Qui no viderer vivendum facilisi, pro illud possim legimus at. Illum sonet numquam id vis. Ei accumsan nominati eos? Nam suas admodum ancillae ne? Nullam noster scribentur per cu, te duis consetetur adipiscing pri? Mollis deseruisse te mei. Cu euismod singulis suavitate eam. Ex eos purto similique, an eum fabellas adolescens! Dolor signiferumque cum id. Dicunt cetero detracto mea ei? Ex dico dolor vis, splendide vituperatoribus cu usu, ei mea posse sonet labores! Ad duo veritus intellegam, alterum appellantur vix et. Vis dissentiet repudiandae eu, decore integre principes per ei. Id vim stet mentitum repudiandae, pri mentitum qualisque ea, ex usu augue viderer suscipit. Ea vel mucius graecis, mentitum perfecto eu duo, duo eu ipsum urbanitas. Eruditi recteque abhorreant ius et, omnes dolore debitis vel ei? An inani copiosae nec, audiam sanctus nostrum est ea? Assum iuvaret mea id.</p>
            <h3>This is a headline h3</h3>
            <ul>
              <li>The quick brown fox jumps over the lazy dogs</li>
              <li>Another item a</li>
              <li>
                Another item b
                <ul>
                  <li>The quick brown fox jumps over the lazy dogs</li>
                  <li>Antoher subitem a</li>
                  <li>Antoher subitem b</li>
                </ul>
              </li>
            </ul>
            <a class="link link--primary" href="#">Primary</a>
            <a class="link link--secondary" href="#">Primary</a>
            <h4>This is a headline h4</h4>
            <ol>
              <li>The quick brown fox jumps over the lazy dogs</li>
              <li>Another item a</li>
              <li>
                Another item b
                <ol>
                  <li>The quick brown fox jumps over the lazy dogs</li>
                  <li>Antoher subitem a</li>
                  <li>Antoher subitem b</li>
                </ol>
              </li>
            </ol>
            <h5>This is a headline h5</h5>
<p>
An populo iriure interesset sit! Eum quas zril nostrum ei. Est no esse illum, falli doming vix no? No pri causae petentium! Id vocibus volutpat deterruisset usu, vocibus verterem sed ne, usu ne similique temporibus! Ex vix dicat discere partiendo, at ignota corpora mei, posse percipitur mea ut. At doming commodo deseruisse sit, eu diceret fabulas eligendi vix, sea nostrum scriptorem ad! Quo cu eius tollit instructior.</p>
            <h6>This is a headline h6</h6>
<p>
An populo iriure interesset sit! Eum quas zril nostrum ei. Est no esse illum, falli doming vix no? No pri causae petentium! Id vocibus volutpat deterruisset usu, vocibus verterem sed ne, usu ne similique temporibus! Ex vix dicat discere partiendo, at ignota corpora mei, posse percipitur mea ut. At doming commodo deseruisse sit, eu diceret fabulas eligendi vix, sea nostrum scriptorem ad! Quo cu eius tollit instructior.</p>'
              }
            },
            withContext = false
          )
        }}
      {% endblock %}
    {% endembed %}
  {% endcache %}
{% endblock %}
