{#
  o-appHeader
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'o-appHeader',
  modifiers: [],
  customClasses: [],
  data: {},
  vSpace: null
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Macros -- #}
{% import '_partials/macros/_macro-settings.twig' as module %}

{# -- Modul -- #}
<header {{ module.settings(opt) }}>
  {% cache %}
    {% block appHeader %}
      <div class="{{ opt.cn ~ '__wrapper' }}">
        <div class="{{ opt.cn ~ '__inner' }}">
          {% include '_atoms/logo/_template.twig' with {
            opt: {
              name: 'logo',
              maxWidth: '48px',
              url: siteUrl
            }
          } %}
        </div>
      </div>
    {% endblock %}
  {% endcache %}
</header>

