/*
 |--------------------------------------------------------------------------
 | .c-quote
 |--------------------------------------------------------------------------
 */


.c-quote {
  &__blockquote {
    p {
      line-height: var(--lh-base-headings);
      font-family: var(--ff-mono);
      max-inline-size: 20ch;
      @include ms(6);
      font-weight: 700;
    }

    footer {
      @include ms(-1);
    }
  }
}
