/*
 |--------------------------------------------------------------------------
 | .c-quote
 |--------------------------------------------------------------------------
 */


.c-quote {
  &__blockquote {
    p {
      line-height: var(--lh-base-headings);
      max-width: 20ch;
      @include wf('roboto');
      @include ms(4);
      font-weight: 700;
    }

    footer {
      @include ms(-1);
    }
  }
}
