/*
 |--------------------------------------------------------------------------
 |
 | Description of what this file is for
 |
 | @package Baukasten
 | @author David Hellmann [david@hellmann.io]
 | .m-quote
 |--------------------------------------------------------------------------
 */


.m-quote {
  $root: &;

  &__cb {
    @include vr();
  }

  &__inner {
    @include row();
  }

  &__blockquote {
    @include col-padding();

    @include media('>=m') {
      @include col-offset(4, 24);
    }

    p {
      max-width: 40ch;
      font-weight: 700;
      font-style: normal;
    }
  }
}
