/*
 |--------------------------------------------------------------------------
 | @package  craft-baukasten
 | @author David Hellmann [david@hellmann.io]
 |
 | .a-youtube-basic
 |--------------------------------------------------------------------------
 */

.a-youtube-basic {
  position: relative;
  background-color: var(--c-gray-100);
}
