/*
 |--------------------------------------------------------------------------
 |  .a-link--icon
 |--------------------------------------------------------------------------
 */

// Modul
.a-link--icon {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: var(--br-3);
  @include spaceY(padding-top padding-bottom, 0.25);
  @include spaceX(padding-left padding-right, 0.5);
  background-color: var(--c-blue);
  color: var(--c-white);
  font-weight: 700;
  transition: background-color 250ms var(--ease-out-cubic);

  &:hover {
    background-color: var(--c-blue-700);
  }

  .a-icon {
    margin-right: s(1);
  }
}
