/*
 |--------------------------------------------------------------------------
 |  a-link
 |--------------------------------------------------------------------------
 */

// Modul
.a-link {
  $root: &;
  margin-right: s(2);
  color: var(--c-red);
  text-decoration: none;
  font-weight: 700;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 4px;
  transition: all 0.25s ease('out-cubic');

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--c-red);
    transform: translateY(0);
    transition: all 0.25s ease('out-cubic');
  }

  &:hover {
    color: darken(var(--c-red), 10%);

    &::before {
      transform: translateY(-2px);
      background-color: darken(var(--c-red), 10%);
    }
  }


  &__text {
    display: inline-block;
    line-height: 1;
    order: 1;
  }

  .a-svgIcon {
    display: inline-block;
    line-height: 1;
    margin-left: s(1);
    order: 2;

    svg {
      fill: var(--c-red);
    }
  }

  &--cb {
    @include vr();
  }
}

// Modul Modifiers Example
.a-link--stylePrimary {
  color: var(--c-red);
  padding-bottom: 4px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--c-red);
    transform: translateY(0);
    transition: all 0.25s ease('out-cubic');
  }

  &:hover {
    color: darken(var(--c-red), 10%);

    &::before {
      transform: translateY(-2px);
      background-color: darken(var(--c-red), 10%);
    }
  }
}

.a-link--styleSecondary {
  color: var(--c-blue);
  padding-bottom: 4px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--c-blue);
    transform: translateY(0);
    transition: all 0.25s ease('out-cubic');
  }

  &:hover {
    color: darken(var(--c-blue), 10%);

    &::before {
      transform: translateY(-2px);
      background-color: darken(var(--c-blue), 10%);
    }
  }
}

.a-link--inline {
  margin: 0;
  display: inline-block;

  &::before {
    display: none;
  }
}
