/*
 |--------------------------------------------------------------------------
 |
 | Description of what this file is for
 |
 | @package Baukasten
 | @author David Hellmann [david@hellmann.io]
 | .a-checkbox
 |--------------------------------------------------------------------------
 */

// Modul
.a-checkbox {
  $root: &;

  &--cb {
    @include vr();
  }

  &__checkbox {
    width: 20px;
    height: 20px;

    &:checked,
    &:not(:checked) {
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }

    &:checked + *,
    &:not(:checked) + * {
      position: relative;
      padding-left: 32px;
      cursor: pointer;
      display: inline-block;
    }

    &:checked + *::before,
    &:not(:checked) + *::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 3px;
      width: 20px;
      height: 20px;
      border: 1px solid c('black');
      background: c('white');
    }

    &:disabled {
      + *::before {
        border: 1px solid c('black', '15');
      }

      + label {
        color: c('black', '30');
      }
    }

    &:focus + *::before {
      outline: none;
      box-shadow: 0 0 0 3px rgba(c('blue'), 0.5), 0 0 0 1.5px rgba(c('blue'), 0.5);
    }


    &:checked + *::after,
    &:not(:checked) + *::after {
      content: '';
      width: 12px;
      height: 12px;
      background-image: url('~ASSETS/svg/single/iconCheckmark.svg');
      background-position: center center;
      background-size: 12px 12px;
      position: absolute;
      top: 4px;
      left: 4px;
      transition: all 0.2s ease('out-cubic');
    }

    &:not(:checked) + *::after {
      opacity: 0;
      transform: scale(0);
    }

    &:checked + *::after {
      opacity: 1;
      transform: scale(1);
    }
  }
}
