{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-builderContent',
    builderContent: null,
  },
  classes: {
    root: '',
    custom: '',
  },
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{% if props.data.builderContent %}
  <div class="{{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }}">
    {% for block in props.data.builderContent %}
      {{ include('entryTypes/_routerBlocks.twig', {
        block: block ??? null,
      }, withContext = false) }}
    {% endfor %}
  </div>
{% endif %}
