{% set defaults = {
  name: 'c-contentBuilder',
  blocks: null,
  object: entry ??? null,
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{% if props.blocks %}
<div {{ macroComponentSettings.componentSettings(props.settings) }}>
  {% if props.blocks|length %}
    {% for content in props.blocks %}

      {# Create Section if first block is not a section #}
      {% if loop.first and content.type.handle != 'cbSection' %}

        {# Create Section #}
        {% include '_builders/_includes/_cbCbSection.twig' with {
          data: content,
          builder: 'contentBuilder',
          closeCurrentSection: 0
        } only %}

        {# Create First Block #}
        {% include '_builders/_blocks.twig' with {
          data: content,
          builder: 'contentBuilder',
          closeCurrentSection: 0
        } only %}

      {% else %}
        {# Create block elements and close section if it's loop.first #}
        {% include '_builders/_blocks.twig' with {
          data: content,
          builder: 'contentBuilder',
          closeCurrentSection: loop.first ? 0 : 1,
        } only %}
      {% endif %}
    {% endfor %}
    {# Close Last Section #}
    </div>
    </div>
  {% endif %}
  </div>
{% endif %}
