{#
Content Builder
===============
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-contentBuilder',
  modifiers: [],
  customClasses: [],
  object: entry ??? null,
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{% if props.blocks %}
<div {{ module.settings(props) }}>
  {% if props.blocks|length %}
    {% for content in props.blocks %}

      {# Create Section if first block is not a section #}
      {% if loop.first and content.type.handle != 'cbSection' %}

        {# Create Section #}
        {% include '_builders/_includes/_cbCbSection.twig' with {
          data: content,
          builder: 'contentBuilder',
          closeCurrentSection: 0
        } only %}

        {# Create First Block #}
        {% include '_builders/_blocks.twig' with {
          data: content,
          builder: 'contentBuilder',
          closeCurrentSection: 0
        } only %}

      {% else %}
        {# Create block elements and close section if it's loop.first #}
        {% include '_builders/_blocks.twig' with {
          data: content,
          builder: 'contentBuilder',
          closeCurrentSection: loop.first ? 0 : 1,
        } only %}
      {% endif %}
    {% endfor %}
    {# Close Last Section #}
    </div>
    </section>
  {% endif %}
  </div>
{% endif %}
