{#
  Content Builder
  ===============
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-contentBuilder',
  modifiers: [],
  customClasses: [],
  object: entry ??? null,
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{% if props.object %}

  <div {{ module.settings(props) }}>
    {% if props.object.contentBuilder|length %}
      {% set matrixfield = props.object.contentBuilder.all() %}

      {% for content in matrixfield %}
        {% set createSection = false %}
        {% if loop.first and content.type != 'cbSection' %}
          {% set createSection = true %}
        {% endif %}

        {% include '_builders/_blocks.twig' with {
          data: content,
          createSection: createSection,
          builder: 'contentBuilder'
        } only %}
      {% endfor %}
      <!-- end: o-section -->
    {% endif %}
  </div>
{% endif %}
