{#
  Page Builder
  ============
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-pageBuilder',
  modifiers: [],
  customClasses: [],
  blocks: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{% if props.blocks %}
  <div {{ module.settings(props) }}>
    {% if props.blocks|length %}
      {% for content in props.blocks %}
        {% set createSection = false %}
        {% if loop.first and content.type != 'cbSection' %}
          {% set createSection = true %}
        {% endif %}

        {% include '_builders/_blocks.twig' with {
          data: content,
          createSection: createSection,
          builder: 'pageBuilder'
        } only %}
      {% endfor %}
      <!-- end: o-section -->
    {% endif %}
  </div>
{% endif %}
