{#
Page Builder
===============
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-pageBuilder',
  modifiers: [],
  customClasses: [],
  object: entry ??? null,
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{% if props.blocks %}
<div {{ module.settings(props) }}>
  {% if props.blocks|length %}
    {% for content in props.blocks %}
      {% if loop.first and content.type.handle != 'cbSection' %}
        {% include '_builders/_includes/_cbCbSection.twig' with {
          data: content,
          builder: 'pageBuilder',
          closeCurrentSection: 0
        } only %}

        {% include '_builders/_blocks.twig' with {
          data: content,
          builder: 'pageBuilder',
          closeCurrentSection: 0
        } only %}
      {% else %}
        {% include '_builders/_blocks.twig' with {
          data: content,
          builder: 'pageBuilder',
          closeCurrentSection: loop.first ? 0 : 1,
        } only %}
      {% endif %}
    {% endfor %}

    {# Close Last Section #}
    </div>
    </section>
  {% endif %}
  </div>
{% endif %}
