{# >>> Comp Settings #}
{% set compDefaults = {
  data: {
    name: '<%= cn %>',
    sample: true,
  },
  classes: {
    root: '',
    custom: '',
  },
  variants: {}
} %}

{# >>> Merge data / classes / variansts (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
  variants: compDefaults.variants,
} %}

{% if props.data.sample %}
  <div class="{{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }}" >
    <%= mn %> finally rendered
  </div>
{% endif %}

