# General settings
CRAFT_ENVIRONMENT=dev
CRAFT_SECURITY_KEY=31R0o1E1cpvVAZY7_N0fNDaNG2Lo3bnR
TEST_MAIL=your@mail.com
SYSTEM_MAIL=your@mail.com
REPLY_MAIL=your@mail.com

# Blitz settings
ENABLE_BLITZ_CACHING=0

# ImagerX
FALLBACK_IMAGE=/assets/templateImages/placeholder.png
# MOCK_IMAGE=/assets/templateImages/placeholder.png

# Custom Settings
HARD_MODE=1
LOCAL_DEV_PERFORMANCE=0

# Database
CRAFT_DB_DRIVER=mysql
CRAFT_DB_SERVER=ddev-baukasten-db
CRAFT_DB_PORT=3306
CRAFT_DB_USER=db
CRAFT_DB_PASSWORD=db
CRAFT_DB_DATABASE=db
CRAFT_DB_SCHEMA=public
CRAFT_DB_CHARSET=utf8mb4
CRAFT_DB_COLLATION=utf8mb4_unicode_ci
CRAFT_DB_TABLE_PREFIX=

# URL & Paths
ASSETS_URL=https://baukasten.ddev.test/assets
SITE_URL=https://baukasten.ddev.test
WEB_ROOT_PATH=./

# Vite
VITE_DEV_SERVER_PUBLIC=https://baukasten.ddev.test
VITE_DEV_SERVER_INTERNAL=http://localhost:3100/

# Redis
CRAFT_APP_ID=baukasten
REDIS_HOSTNAME=ddev-baukasten-redis
REDIS_PORT=6379
REDIS_DEFAULT_DB=0
REDIS_CRAFT_DB=1

# MailGun
MAILGUN_SYSTEM_MAIL=
MAILGUN_DOMAIN=
MAILGUN_API_KEY=
MAILGUN_ENDPOINT=

# Plugins
PLUGIN_BLITZ=
PLUGIN_FORMIE=
PLUGIN_IMAGERX=
PLUGIN_NAVIGATION=
PLUGIN_SEOMATIC=

# Xdebug
DBGP_IDEKEY=phpstorm
