# Craft general settings
ALLOW_UPDATES=1
ALLOW_ADMIN_CHANGES=1
BACKUP_ON_UPDATE=0
DEV_MODE=1
ENABLE_TEMPLATE_CACHING=0
ENABLE_GQL_CACHING="0"
ENVIRONMENT=local
IS_SYSTEM_LIVE=1
RUN_QUEUE_AUTOMATICALLY=1
SECURITY_KEY="__RANDOM__KEY__"
SITE_NAME="__SITE_NAME__"
FALLBACK_IMAGE="/assets/templateImages/placeholder.png"
# MOCK_IMAGE="/assets/templateImages/placeholder.png"
SYSTEM_MAIL="your@mail.com"
REPLY_MAIL="your@mail.com"
TEST_MAIL="your@mail.com"

# Craft database settings
DB_DRIVER="mysql"
DB_SERVER="localhost"
DB_PORT="3308"
DB_USER="__DATABASE_USER__"
DB_PASSWORD="__DATABASE_PASSWORD__"
DB_DATABASE="__DATABASE_NAME__"
DB_SCHEMA="public"
DB_TABLE_PREFIX=""

# URL & path settings
ASSETS_URL="http://__PROJECT_URL__.test/assets"
SITE_URL="http://__PROJECT_URL__.test"
WEB_ROOT_PATH="/__PATH_TO_WEB_FOLDER_WITHOUT_TRAILING_SLASH__"

# Vite settings
VITE_DEV_SERVER_PUBLIC=http://localhost:3000/
VITE_DEV_SERVER_INTERNAL=http://localhost:3000/

# Redis settings
APP_ID=__PROJECT_NAME__
REDIS_HOSTNAME=127.0.0.1
REDIS_PORT=6380
REDIS_DEFAULT_DB=0
REDIS_CRAFT_DB=1

# MailGun Settings
MAILGUN_SYSTEM_MAIL = ""
MAILGUN_DOMAIN = ""
MAILGUN_API_KEY = ""
MAILGUN_ENDPOINT = ""

# Plugins Serials (use it with $PLUGIN_SEOMATIC)
PLUGIN_SEOMATIC=""
PLUGIN_RETOUR=""
PLUGIN_COMMERCE=""
PLUGIN_FORMIE=""
PLUGIN_IMAGERX=""

# Xdebug Settings
DBGP_IDEKEY=phpstorm
