/*
 |--------------------------------------------------------------------------
 |  c-imageGridCalculated
 |--------------------------------------------------------------------------
 */


.c-imageGridCalculated {
  @include clamp(margin-top, -2);

  &__inner {
    @include row();

    @include media('>=s') {
      align-items: center;
      justify-content: space-between;
      flex-flow: row nowrap;
    }
  }

  &__item {
    @include col-padding();
    margin-top: 2rem;
    width: 100%;

    @include media('>=s') {
      width: auto;
    }

    img {
      max-width: 100%;
      width: auto;
      height: 10px;

      @include media('<s') {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}
