{#
  o-imageGrid
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-imageGrid',
  modifiers: [],
  customClasses: [],
  data: {},
  images: null,
  caption: null,
  ratio: null,
  calculated: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{% if props.calculated %}
  {% set props = props | merge({  customClasses: props.customClasses | merge(['js-imageGridCalculated'])}) %}
{% endif %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.images %}
  <div {{ module.settings(props) }}>
    <div class="{{ props.cn ~ '__inner' }}">
      {% for image in props.images if image %}
        <div class="{{ props.cn ~ '__item' }}">
          {% include '_components/figure/figure.twig' with {
            props: {
              image: image ??? null,
              ratio: props.ratio ??? null,
              caption: props.caption ??? null,
              captionHeadline: image.imageTitle ??? null,
              captionText: image.imageCaption ??? null,
              captionSource: image.imageSource ??? null,
              captionSourceUrl: image.imageSourceUrl ??? null
            }
          } only %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
