{# >>> Comp Settings #}
{% set compDefaults = {
  settings: {
    name: 'c-imageGridCalculated',
  },
  data: {
    images: null,
    caption: null,
    transform: 'auto',
  },
  classes: {
    root: 'flex flex-col md:flex-row flex-nowrap gap-4 md:gap-8',
    custom: '',
  },
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}


{# Modul #}
{% if props.data.images ??? null %}
  <div
    class="js-imageGridCalculated {{ props.classes.root }} {{ props.classes.custom }}">
    {% for image in props.data.images %}
      {% include '_components/image/image.twig' with {
        data: {
          image: image ??? null,
          transform: props.data.transform ??? null,
          renderPlainImage: true,
          caption: props.data.caption ??? null,
        },
        classes: {
          custom: 'h-auto w-full md:max-w-full md:w-auto h-[10px]'
        }
      } only %}
    {% endfor %}
  </div>
{% endif %}
