.c-imageGridCalculated {
  > div {
    flex-basis: 0;
    aspect-ratio: var(--ratio);
    flex-grow: calc(var(--ratio));
  }

  img {
    @media (max-width: 767px) {
      width: 100% !important;
      height: auto !important;
    }
  }
}
