{#
o-imageGrid
------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  name: 'c-imageGridCalculated',
  images: null,
  caption: null,
  ratio: null,
  calculated: null
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}
{% set props = props | merge({  js: true}) %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{# Modul #}
{% if props.images %}
  <div {{ macroComponentSettings.componentSettings(props.settings) }}>
    <div class="{{ props.cn ~ '__inner' }}">
      {% for image in props.images if image %}
        <div class="{{ props.cn ~ '__item' }}">
          {% include '_components/figure/image.twig' with {
            props: {
              image: image ??? null,
              ratio: props.ratio ??? null,
              caption: props.caption ??? null,
              captionHeadline: image.imageTitle ??? null,
              captionText: image.imageCaption ??? null,
              captionSource: image.imageSource ??? null,
              captionSourceUrl: image.imageSourceUrl ??? null
            }
          } only %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
