{#
  a-plainText
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'a-plainText',
  modifiers: [],
  customClasses: [],
  data: {},
  text: null
} %}

{# Merge Default with Options #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# Macros #}
{% import '_partials/macros/_macro-settings.twig' as module %}

{# Modul #}
{% if opt.text %}
  {# Include Variant #}
  {% include [
    '_atoms/image/' ~ opt.variant ~ '/_template.twig',
  ] %}
  <p {{ module.settings(opt) }}>
    {{ opt.text | nl2br | raw }}
  </p>
{% endif %}
