@layer components {
  [data-css="rich-text"] {
    .text-large {
      font-size: var(--text-lg);
    }

    a {
      font-weight: var(--font-weight-bold);
      color: var(--color-primary-600);
      transition: all;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
      border-bottom: 2px solid --alpha(var(--color-primary-600) / 30%);

      &:hover {
        color: var(--color-primary-500);
        border-bottom: 2px solid --alpha(var(--color-primary-500) / 30%);
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: var(--font-weight-bold);
      --stack-item-space: --spacing(6);
      margin-block-end: --spacing(-2);

      @media (min-width: theme(--breakpoint-md)) {
        --stack-item-space: --spacing(12);
        margin-block-end: --spacing(-6);
      }
    }

    h2 {
      font-size: var(--text-xl);
    }

    h3 {
      font-size: var(--text-lg);
    }

    h4,
    h5,
    h6 {
      font-size: var(--text-base);
    }

    ul li,
    ol li {
      position: relative;
      padding-inline-start: --spacing(4);
    }

    ul li::before {
      content: '';
      left: --spacing(1);
      position: absolute;
      top: --spacing(3);
      width: --spacing(1);
      height: --spacing(1);
      border-radius: var(--radius-lg);
      background-color: currentColor;
    }

    ol {
      list-style: decimal inside;
    }

    ul li ul,
    ol li ol {
      margin-block-start: --spacing(1);

      @media (min-width: theme(--breakpoint-md)) {
        margin-block-start: --spacing(2);
      }
    }

    .link {
      @apply mr-4 inline-flex grid-flow-col items-center justify-center gap-2 whitespace-nowrap rounded-md px-4 py-1.5 text-center font-sans font-bold no-underline transition text-base;
      @apply mt-4 md:mt-8;
    }

    .link + .link {
      @apply mt-4 md:mt-8;
    }

    .link--primary {
      @apply border-2 border-primary-800 bg-primary-800 text-white hover:border-primary-700 hover:bg-primary-700 hover:text-white;
    }

    .link--secondary {
      @apply border-2 border-secondary-300 bg-secondary-300 text-secondary-800 hover:border-secondary-400 hover:bg-secondary-400 hover:text-secondary-800;
    }
  }
}
