@layer components {
  .c-text {
    &:first-child {
      @apply mt-0 pt-0;
    }

    .text-large {
      @apply text-lg;
    }

    a {
      @apply transition text-primary-600 underline font-bold;

      &:hover {
        @apply no-underline text-primary-500;
      }
    }

    h2, h3, h4, h5, h6 {
      @apply pt-2 md:pt-4 font-bold;
      @apply -mb-3 md:-mb-6 !important;
    }

    h2 {
      @apply text-xl;
    }

    h3 {
      @apply text-lg;
    }

    h4, h5, h6 {
      @apply text-base;
    }

    ul li,
    ol li {
      @apply pl-3 md:pl-6 relative;
    }

    ul li::before {
      content: '';
      @apply w-1 h-1 bg-current absolute left-0 top-3 rounded;
    }

    ol {
      @apply list-inside list-decimal;
    }

    ul li ul,
    ol li ol {
      @apply mt-1  md:mt-2;
    }

    .link {
      @apply inline-flex transition rounded-md font-sans font-bold text-center items-center grid-flow-col justify-center whitespace-nowrap px-4 py-1.5 gap-2 text-base no-underline mr-4;
      @apply mt-4 md:mt-8 !important;
    }

    .link + .link {
      @apply mt-4 md:mt-8 !important;
    }

    .link--primary {
      @apply bg-primary-800 hover:bg-primary-700 text-white hover:text-white border-2 border-primary-800 hover:border-primary-700;
    }

    .link--secondary {
      @apply bg-secondary-300 hover:bg-secondary-400 text-secondary-800 hover:text-secondary-800 border-2 border-secondary-300 hover:border-secondary-400;
    }
  }
}
