@layer components {
  [data-component="c-text"] {
    /*.text-lg {
      @apply text-lg
    }

    a {
      @apply text-primary;

      &:hover {
        @apply underline;
      }
    }

    h3 {
      @apply text-xl uppercase pt-4;
    }

    h4 {
      @apply text-lg pt-2;
      @apply -mb-2 !important;
    }

    ul li {
      @apply pl-3 relative;

      &::before {
        content: '';
        @apply w-1 h-1 bg-current absolute left-0 top-3 rounded;
      }
    }

    .link {
      @apply inline-grid  relative  rounded-full  px-6  pt-2 pb-3  font-sans-medium  text-center  items-center gap-4  grid-flow-col justify-center whitespace-nowrap mr-4;
      @apply mt-4  !important;
    }

    .link + .link {
      @apply mt-4 !important;
    }

    p .link:last-child {
      @apply mb-10 !important;
    }

    .link--primary {
      @apply bg-primary  hover:bg-primary  text-white  border-2 border-primary hover:border-primary
    }

    .link--secondary {
      @apply bg-white  hover:bg-white  text-primary  border-2 border-primary  hover:border-primary
    } */
  }
}
