{% set containerWidth = data.containerWidth ??? 'max' %}
{% set stackClass = data.blockMargin ??? 'u-stack-3' %}
{% set backgroundColor = data.backgroundColor ??? '' %}

{% if closeCurrentSection %}
  </div>
  </div>
{% endif %}

<div class="l-section  l-section--{{ builder }}  {{ backgroundColor ? 'l-section--' ~ backgroundColor : '' }}">
  <div class="container  container--{{ containerWidth }}  {{ stackClass }}">

