

<div class="section {{ data.variant.value == 'cover' ? 'h-screen' : ''}}">
  {# image #}
  {% include '_components/image/picture.twig' with {
    props: {
      image: data.image.one() ??? null,
      objectFit: 'cover',
      ratio: 'square',
    }
  } only %}
  <div class="container">
    {{ data.headline }}
  </div>
</div>
