{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [davidhellmann.com@gmail.com]

  o-imageSingle
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-imageSingle',
  modifiers: [],
  customClasses: [],
  data: {},
  image: null,
  caption: null,
  ratio: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.image %}
  <div {{ module.settings(props) }}>
    {% include '_molecules/figure/_template.twig' with {
      props: {
        image: props.image ?? null,
        ratio: props.ratio ?? null,
        caption: props.caption ?? null,
        captionHeadline: props.image.imageTitle ?? null,
        captionText: props.image.imageCaption ?? null,
        captionSource: props.image.imageSource ?? null,
        captionSourceUrl: props.image.imageSourceUrl ?? null
      }
    } only %}
  </div>
{% endif %}
