/*
 |--------------------------------------------------------------------------
 |
 | Description of what this file is for
 |
 | @package Baukasten
 | @author David Hellmann [david@hellmann.io]
 | .a-select
 |--------------------------------------------------------------------------
 */

// Modul
.a-select {
  $root: &;

  &__inner {
    width: 100%;
    display: block;
    position: relative;
    @include vr(2);

    &::before,
    &::after {
      content: '';
      position: absolute;
      right: 16px;
      top: 50%;
      width: 10px;
      height: 2px;
      z-index: 100;
      pointer-events: none;
      background-color: c('black');
    }

    &::before {
      transform: rotate(-45deg) translate(0, -50%);
    }

    &::after {
      right: 23px;
      transform: rotate(45deg) translate(0, -50%);
    }
  }

  &--default-selected select {
    color: c('black', '45');
  }

  &__label {
    position: absolute;
    left: 10px;
    padding: 3px 6px;
    top: -4px;
    background-color: transparent;
    transition: all 0.25s ease-out;
    backface-visibility: hidden;
    pointer-events: none;
    color: c('black', '40');
    @include ms-respond(font-size, -1);
    @include wf('base');
    border-radius: 3px;
    font-weight: 400;
    line-height: 1;
    transform: translateY(-20px);
    @include ms-respond(font-size, -1);

    #{$root}.is-valid & {
      color: c('white');
      background-color: c('green');
    }

    #{$root}.is-invalid & {
      color: c('white');
      background-color: c('red');
    }
  }


  select {
    -webkit-appearance: none; // stylelint-disable-line
    -moz-appearance: none; // stylelint-disable-line
    appearance: none; /* remove default arrow */
    @include vr(0.5);
    display: block;
    width: 100%;
    height: 48px;
    line-height: 1.5;
    padding: s(1) s(5) s(1) s(2);
    @include ms-respond(font-size, -1);
    @include wf('base');
    font-weight: 400;
    border: 1px solid c('black');
    background-color: c('white');
    border-radius: 3px;
    -moz-appearance: none; // stylelint-disable-line
    position: relative;
    transition: all 0.25s ease-out;

    &::-ms-expand {
      display: none;
    }

    &:disabled {
      cursor: not-allowed;
      border: 1px solid c('black', '30');
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px rgba(c('blue'), 0.5), 0 0 0 1.5px rgba(c('blue'), 0.5);
    }

    &:required {
      ~ label {
        &::after {
          content: ' *';
        }
      }
    }
  }

  &__info {
    pointer-events: none;
    width: 100%;
    font-size: 10px;
    color: c('black', '60');
    padding: 5px 0;
    display: none;

    #{$root}--showInfo & {
      display: block;
    }

    #{$root}.is-invalid & {
      display: block;
      color: c('red');
    }
  }
}
