{% extends "_layouts/layout-patternlib.twig" %}

{% block blockAppContent %}
  {% cache using key craft.app.request.pathInfo %}

    {# >>> Render variant #}
    {% embed 'hidden/patternlib/_partials/_embedComp.twig' %}
      {% block label %}Sample Comp{% endblock %}
      {% block content %}
        <div id="sample"></div>
      {% endblock %}
    {% endembed %}

  {% endcache %}
{% endblock %}


