/*
 |--------------------------------------------------------------------------
 |  c-divider
 |--------------------------------------------------------------------------
 */


.c-divider {
  border: 0;
  width: 100%;
  height: 2px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: var(--c-gray-300);
}

.c-divider--medium {
  width: 50%;
}


.c-divider--narrow {
  width: 25%;
}
