/*
 |--------------------------------------------------------------------------
 |  .c-code
 |--------------------------------------------------------------------------
 */


.c-code {
  .c-code__wrapper {
    width: 100%;
    margin: 0;
    height: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &[data-status='closed'] {
    height: 92px !important;
    overflow: hidden;
    pointer-events: none;
    user-select: none;

    * {
      color: var(--c-gray-800) !important;
    }
  }

  .c-code__codeWrapper {
    width: 100%;
    border-radius: 5px;
    @include ms(-2);
    line-height: 1.8;
  }

  .c-code__code {
    width: 100%;
  }
}

.c-code__toggle {
  margin-bottom: 1rem;
  display: block;
  text-align: center;
  cursor: pointer;
  @include ms(-2);

  span {
    background-color: var(--c-red);
    display: inline-block;
    position: relative;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: 700;
    color: var(--c-white);
    user-select: none;

    &::before,
    &::after {
      content: '';
      transform-origin: center center;
      width: 10px;
      height: 2px;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translate(0, -50%);
      background-color: var(--c-white);
      transition: all 250ms var(--ease-out-cubic);
    }

    &::after {
      transform: translate(0, -50%) rotate(0);
    }
  }

  &[data-status='closed'] {
    span {
      &::before {
        transform: translate(0, -50%) rotate(-90deg);
      }
    }
  }
}
