/*
 |--------------------------------------------------------------------------
 |  a-image
 |--------------------------------------------------------------------------
 */

// Modul
.a-image {
  $root: &;
  display: inline-block;

  &--cb {
    @include vr();
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  &__picture {
    transition: all 0.875s 0.875s ease('out-cubic');
  }
}

// Modul Modifiers Example
.a-image--modifier {
  .a-image__block {
    // Styles here
  }
}
