{#
  a-richText
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-richText',
  modifiers: [],
  customClasses: ['u-stack'],
  data: {},
  text: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}





{# Modul #}
{% if props.text %}
  <div {{ module.settings(props) }}>
    {{ props.text | raw }}
  </div>
{% endif %}
