{#
  a-richText
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'a-richText',
  modifiers: [],
  customClasses: ['stack'],
  data: {},
  text: null,
  variant: 'basic'
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.text %}
  <div {{ module.settings(props) }}>
    {{ props.text | raw }}
  </div>
{% endif %}
