{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [david@hellmann.io]

  m-gridOverlay
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'm-gridOverlay',
  modifiers: [],
  customClasses: ['section'],
  data: {},
  cols: 24,
  variant: 'basic'
} %}

{# Merge Default with Options #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if opt.cols %}
  <div class="js-toggleGrid">G</div>
  <div {{ module.settings(opt) }}>
    <div class="container">
      <div class="row">
        {% for i in 1..opt.cols %}
          <div class="col"></div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

