{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [david@hellmann.io]

  m-gridOverlay
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'gridOverlay',
  modifiers: [],
  customClasses: [],
  data: {},
  cols: 24
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}





{# Modul #}
{% if props.cols %}
  <div class="js-toggleGrid">Grid</div>
  <div {{ module.settings(props) }}>
    <div class="l-section">
      <div class="l-container">
        <div class="l-row">
          {% for i in 1..props.cols %}
            <div class="l-col"></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

