@layer components {
  [data-component="c-gridOverlay"] {
    color: #4FC3F7;
    > .container {
      outline: 1px solid rgba(216, 27, 96, 0.25);

      > div {
        background-color: rgba(216, 27, 96, 0.05);
        box-shadow: 1px 0px 0px 0px rgba(216, 27, 96, 0.25), -1px 0px 0px 0px rgba(216, 27, 96, 0.25);
      }
    }
  }
}
