{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [david@hellmann.io]

  m-gridOverlay
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'gridOverlay',
  theme: getenv('BAUKASTEN_THEME') | default(null),
  variant: 'default',
  modifiers: [],
  customClasses: [],
  data: {},
  cols: 24
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Baukasten:Minimal #}
{% if props.theme == 'Baukasten:Minimal' %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Custom Styling #}
{% if not props.theme == 'Baukasten:Minimal' %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Modul #}
{% if props.cols %}
  <div class="js-toggleGrid">G</div>
  <div {{ module.settings(props, twClasses.root) }}>
    <div class="section">
      <div class="container">
        <div class="row">
          {% for i in 1..props.cols %}
            <div class="col"></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

