{#
gridOverlay
------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-gridOverlay',
  js: true,
  data: {},
  cols: 12
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.cols %}
  <div
    x-data="{ open: localStorage.getItem('gridOverlay') || 'false' }"
    x-init="$watch('open', (val) => localStorage.setItem('gridOverlay', val))"
  >
    <div class="
  fixed left-4 bottom-4 z-1000
  bg-gray-900 text-xs text-white
  py-1 px-2 rounded-lg
  cursor-pointer select-none"
         data-component-js="js-gridOverlay--toggle"
         @click="open = open === 'true' ? 'false' : 'true'">Grid
    </div>
    <div class="
  fixed z-10000 top-0 w-screen h-screen pointer-events-none
  "
         style="display: none"
         x-show="open === 'true'"
      {{ module.settings(props) }}>
      <div class="container h-screen grid gap-x-4 md:gap-x-8 grid-cols-6  md:grid-cols-12">
        {% for i in 1..props.cols %}
          <div class="h-screen"></div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

