/*
 |--------------------------------------------------------------------------
 | @package  craft-baukasten
 | @author David Hellmann [david@hellmann.io]
 |
 | .o-appFooter
 |--------------------------------------------------------------------------
 */

.o-appFooter {
  /* --- */
}
