/*
 |--------------------------------------------------------------------------
 | @package  craft-baukasten
 | @author David Hellmann [david@hellmann.io]
 |
 | .a-image
 |--------------------------------------------------------------------------
 */

.a-image {
  background-color: green;
  width: 100px;
  height: 100px;
}
