{#
  o-imageGrid
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-imageGrid',
  modifiers: [],
  customClasses: [],
  twClassSet: null,
  data: {},
  images: null,
  caption: null,
  ratio: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Tailwind Magic #}
{% switch props.twClassSet %}
{% case "caseA" %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss:  #}

{% default %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss: custuom classes here as string #}
{% endswitch %}

{# Modul #}
{% if props.images %}
  <div {{ module.settings(props, twClasses.root) }}  waypointTrigger>
    <div class="{{ props.cn ~ '__inner' }}">
      {% for image in props.images %}
        <div class="{{ props.cn ~ '__item' }} is-fadeInUp" waypoint>
          {% include '_molecules/figure/_template.twig' with {
            props: {
              image: image ?? null,
              ratio: props.ratio ?? null,
              caption: props.caption ?? null,
              captionHeadline: image.imageTitle ?? null,
              captionText: image.imageCaption ?? null,
              captionSource: image.imageSource ?? null,
              captionSourceUrl: image.imageSourceUrl ?? null
            }
          } only %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
