/*
 |-------------------------------------------------------------------------- #}
 | .c-imageRaw
 |--------------------------------------------------------------------------
 */

.c-imageRaw {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
