/*
 |-------------------------------------------------------------------------- #}
 | .c-image
 |--------------------------------------------------------------------------
 */

.c-image {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
