/*
 |--------------------------------------------------------------------------
 |
 | Description of what this file is for
 |
 | @package Baukasten
 | @author David Hellmann [davidhellmann.com@gmail.com]
 | .o-contactForm
 |--------------------------------------------------------------------------
 */

// Modul
.o-contactForm {
  $root: &;
  @include vr();

  > form {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  &__rowContent {
    width: 100%;

    @include media('>=m') {
      &--half {
        width: calc(50% - 8px);
      }
    }
  }

  &__errorListWrapper {
    @include vr();
    color: c('red');
    @include ms-respond('font-size', -1);
    background-color: rgba(c('red'), 0.125);
    border-radius: 3px;
    padding: s(4);
    border: 2px solid c('red');
    @include section-padding();
  }

  &__fieldErrors {
    margin-top: s(1);
    color: c('red');
    pointer-events: none;
    width: 100%;
    @include ms-respond('font-size', -2);
    padding: 5px 16px;

    li {
      display: block;
      width: 100%;
      position: relative;
      padding: 2px 0 2px 16px;

      &::before {
        content: '•';
        color: c('red');
        position: absolute;
        left: 0;
        top: 2px;
      }

      &:first-child {
        padding-top: 8px;
        border-top: 1px dotted c('black', '10');

        &::before {
          top: 8px;
        }
      }
    }
  }
}

// Modul Modifiers Example
.o-contactForm--modifier {
  .o-contactForm__block {
    // Styles here
  }

  @at-root {
    // Use this for nesting with root selector
  }
}
