/*
 |--------------------------------------------------------------------------
 |  o-imageGrid
 |--------------------------------------------------------------------------
 */


.o-imageGrid {
  $root: &;

  &__inner {
    @include row();
  }

  &__item {
    @include col(3, 6);
    @include col-padding();

    @include media('>=s') {
      @include col(8, 24);
    }
  }
}


.o-imageGrid--c-2 {
  .o-imageGrid__item {
    @include media('>=s') {
      @include col(12, 24);
    }
  }
}

.o-imageGrid--c-3 {
  .o-imageGrid__item {
    @include media('>=s') {
      @include col(8, 24);
    }
  }
}

.o-imageGrid--c-4 {
  .o-imageGrid__item {
    @include media('>=s') {
      @include col(6, 24);
    }
  }
}
