/**
 * components/webfonts.css
 *
 *
 */

// Headline Font
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'),
    url('/dist/fonts/merriweather-latin-900.woff2') format('woff2'),
    url('/dist/fonts/merriweather-latin-900.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: local('Merriweather Black italic'), local('Merriweather-Blackitalic'),
    url('/dist/fonts/merriweather-latin-900italic.woff2') format('woff2'),
    url('/dist/fonts/merriweather-latin-900italic.woff') format('woff');
}

// Body Font
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local('Lato Regular'), local('Lato-Regular'),
    url('/dist/fonts/lato-latin-300.woff2') format('woff2'),
    url('/dist/fonts/lato-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
    url('/dist/fonts/lato-latin-700.woff2') format('woff2'),
    url('/dist/fonts/lato-latin-700.woff') format('woff');
}


// Monospace Font
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Roboto Mono Regular'), local('Roboto Mono-Regular'),
    url('/dist/fonts/roboto-mono-latin-400.woff2') format('woff2'),
    url('/dist/fonts/roboto-mono-latin-400.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Roboto Mono Regular'), local('Roboto Mono-Regular'),
    url('/dist/fonts/roboto-mono-latin-700.woff2') format('woff2'),
    url('/dist/fonts/roboto-mono-latin-700.woff') format('woff');
}
