/*
 |--------------------------------------------------------------------------
 |  m-figure
 |--------------------------------------------------------------------------
 */

// Modul
.m-figure {
  $root: &;
  width: 100%;

  &--cb {
    @include vr();

    .a-image {
      margin-top: 0;
    }
  }
}
