/*
 |--------------------------------------------------------------------------
 | @package  craft-baukasten
 | @author David Hellmann [david@hellmann.io]
 |
 | .a-plainText
 |--------------------------------------------------------------------------
 */

.a-plainText {
  max-width: 80ch;
}
