{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [davidhellmann.com@gmail.com]

  o-imageCover
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-imageCover',
  theme: getenv('BAUKASTEN_THEME') | default(null),
  variant: 'default',
  modifiers: [],
  customClasses: [],
  data: {},
  image: null,
  ratio: null,
  text: null,
  objectFit: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Baukasten:Minimal #}
{% if props.theme %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Custom Styling #}
{% if not props.theme %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Modul #}
{% if props.image %}
  <div {{ module.settings(props, twClasses.root) }} waypointTrigger>
    {% include '_molecules/figure/_template.twig' with {
      props: {
        customClasses: ['is-fadeInUp'],
        data: {
          'waypoint': ''
        },
        image: props.image ?? null,
        ratio: props.ratio ?? null,
        objectFit: props.objectFit ?? 'cover'
      }
    } only %}

    {# Text #}
    {% if props.text %}
      <div class="{{ props.cn ~ '__text' }} is-fadeInUp" waypoint>
        {{ props.text }}
      </div>
    {% endif %}
  </div>
{% endif %}
