@layer components {
  [data-waypoint-target] {
    transition-property: theme('transitionProperty.DEFAULT');
    transition-duration: theme('transitionDuration.300');
    transition-timing-function: theme('transitionTimingFunction.out');
  }

  [data-waypoint-target].is-fadeInUp {
    opacity: theme('opacity.0');
    transform: translateY(theme('spacing.8'));
  }

  [data-waypoint-target][data-waypoint-animated].is-fadeInUp {
    opacity: theme('opacity.100');
    transform: translateY(theme('spacing.0'));
  }

  [data-waypoint-target].is-zoomInUp {
    opacity: theme('opacity.0');
    transform: translateY(theme('spacing.12')) scale(0.75);
  }

  [data-waypoint-target][data-waypoint-animated].is-zoomInUp {
    opacity: theme('opacity.100');
    transform: translateY(theme('spacing.0'));
    transition-timing-function: theme('transitionTimingFunction.out-back');

  }

  [data-waypoint-target].is-fadeInDown {
    opacity: theme('opacity.0');
    transform: translateY(calc(-1 * theme('spacing.8')));
  }

  [data-waypoint-target][data-waypoint-animated].is-fadeInDown {
    opacity: theme('opacity.100');
    transform: translateY(theme('spacing.0'));
  }

  [data-waypoint-target].is-fadeInLeft {
    opacity: theme('opacity.0');
    transform: translateX(theme('spacing.8'));
  }

  [data-waypoint-target][data-waypoint-animated].is-fadeInLeft {
    opacity: theme('opacity.100');
    transform: translateX(theme('spacing.0'));
  }

  [data-waypoint-target].is-fadeInRight {
    opacity: theme('opacity.0');
    transform: translateX(calc(-1 * theme('spacing.8')));
  }

  [data-waypoint-target][data-waypoint-animated].is-fadeInRight {
    opacity: theme('opacity.100');
    transform: translateX(theme('spacing.0'));
  }
}
