{#
  a-plainText
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'a-plainText',
  theme: getenv('BAUKASTEN_THEME') | default(null),
  variant: 'default',
  modifiers: [],
  customClasses: [],
  data: {},
  text: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Baukasten:Minimal #}
{% if props.theme == 'Baukasten:Minimal' %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Custom Styling #}
{% if not props.theme == 'Baukasten:Minimal' %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Modul #}
{% if props.text %}
  <p {{ module.settings(props, twClasses.root) }}>
    {{ props.text | nl2br | raw }}
  </p>
{% endif %}
