{#
  a-plainText
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'a-plainText',

  data: {},
  text: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.text %}
  <p {{ module.settings(props) }}>
    {{ props.text | nl2br | raw }}
  </p>
{% endif %}
