{#
  a-plainText
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'a-plainText',
  modifiers: [],
  customClasses: [],
  twClassSet: null,
  data: {},
  text: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Tailwind Magic #}
{% switch props.twClassSet %}
{% case "caseA" %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss:  #}

{% default %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss: custuom classes here as string #}
{% endswitch %}

{# Modul #}
{% if props.text %}
  <p {{ module.settings(props, twClasses.root) }}>
    {{ props.text | nl2br | raw }}
  </p>
{% endif %}
