/*
 |-------------------------------------------------------------------------- #}
 | .c-appFooter
 |--------------------------------------------------------------------------
 */

.c-appFooter {
  background-color: var(--c-gray-100);

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include ms(-1);
  }
}
