{# Set Defaults #}
{% set defaults = {
  cn: 'o-appHeader',
  modifiers: [],
  customClasses: ['section'],
  variant: null,
  data: {}
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Baukasten:Minimal #}
{% if props.theme %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Custom Styling #}
{% if not props.theme %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

<footer {{ module.settings(props, twClasses.root) }}>
  <div class="container py-2">
    <div class="row items-center">
      Baukasten &copy;2014 &mdash; {{ "now"|date("Y") }}

      {# Pagination Simple #}
      {#{% import '_macros/_macro-socialNetworks.twig' as macroSocialNetworks %}
      {{ macroSocialNetworks.socialNetworks({
        networks: 'all',
        label: true,
      }) }}#}
    </div>
  </div>
</footer>
