{# >>> Comp Settings #}
{% set compDefaults = {
  settings: {
    name: 'c-appFooter',
  },
  data: {
    url: siteUrl,
    svgName: 'logo'
  },
  classes: {
    root: 'bg-gray-100  mt-auto',
    custom: ''
  }
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

<footer class="{{ props.classes.root }} {{ props.classes.custom }}" {{ macroComponentSettings.componentSettings(props.settings) }}>
  <div class="container py-4 text-sm">
    Baukasten &copy;2014 &mdash; {{ "now"|date("Y") }}
  </div>
</footer>
