{# Set Defaults #}
{% set defaults = {
  cn: 'c-appFooter',
  modifiers: [],
  customClasses: [],
  data: {}
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

<footer {{ module.settings(props) }}>
  <div class="l-container {{ props.cn ~ '__content' }}">
    Baukasten &copy;2014 &mdash; {{ "now"|date("Y") }}

    {# Pagination Simple #}
    {#{% import '_macros/_macro-socialNetworks.twig' as macroSocialNetworks %}
    {{ macroSocialNetworks.socialNetworks({
      networks: 'all',
      label: true,
    }) }}#}
  </div>
</footer>
