/*
 |--------------------------------------------------------------------------
 | @package  craft-baukasten
 | @author David Hellmann [david@hellmann.io]
 |
 | .o-appFooter-basic
 |--------------------------------------------------------------------------
 */

.o-appFooter-basic {
  /* --- */
}
