/*
 |--------------------------------------------------------------------------
 |  o-appFooeter
 |--------------------------------------------------------------------------
 */

@import 'style-basic';
