{#
  o-slider
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-slider',
  theme: getenv('BAUKASTEN_THEME') | default(null),
  variant: 'default',
  modifiers: [],
  customClasses: [],
  data: {},
  images: null,
  caption: null,
  ratio: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Merge JS Class #}
{% set props= props| merge({  customClasses: props.customClasses | merge(['js-slider'])}) %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Baukasten:Minimal #}
{% if props.theme == 'Baukasten:Minimal' %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Custom Styling #}
{% if not props.theme == 'Baukasten:Minimal' %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Modul #}
{% if props.images %}
  <div {{ module.settings(props, twClasses.root) }} itemscope itemtype="http://schema.org/ImageGallery" role="presentation" waypointTrigger>
    <!-- Slides -->
    {% for image in props.images %}
      <div class="{{ props.cn ~ '__slide' }}" itemscope itemtype="http://schema.org/ImageObject">
        {% include '_molecules/figure/_template.twig' with {
          props: {
            customClasses: ['is-fadeInUp'],
            data: {
              'waypoint': ''
            },
            image: image ?? null,
            ratio: props.ratio ?? null,
            caption: props.caption ?? null,
            captionHeadline: image.imageTitle ?? null,
            captionText: image.imageCaption ?? null,
            captionSource: image.imageSource ?? null,
            captionSourceUrl: image.imageSourceUrl ?? null
          }
        } only %}
      </div>
    {% endfor %}
  </div>
{% endif %}
