/*@utility bg-linear-primary-to-r {
  background-image: linear-gradient(90deg in oklab,
    var(--color-secondary-500) 0%,
    var(--color-primary-500) 52.08%,
    var(--color-positive-500) 100%
  );
}

@utility bg-linear-primary-to-b {
  background-image: linear-gradient(
    180deg in oklab,
    var(--color-secondary-500) 0%,
    var(--color-primary-500) 52.08%,
    var(--color-positive-500) 100%
  );
}

@utility bg-linear-blue-to-r {
  background-image: linear-gradient(
    90deg in oklab,
    var(--color-primary-500) 0%,
    var(--color-primary-600) 100%
  );
}

@utility bg-linear-blue-to-b {
  background-image: linear-gradient(
    180deg in oklab,
    var(--color-primary-500) 0%,
    var(--color-primary-600) 100%
  );
}

@utility bg-linear-purple-to-r {
  background-image: linear-gradient(
    90deg in oklab,
    var(--color-secondary-500) 0%,
    var(--color-secondary-600) 100%
  );
}

@utility bg-linear-purple-to-b {
  background-image: linear-gradient(
    180deg in oklab,
    var(--color-secondary-500) 0%,
    var(--color-secondary-600) 100%
  );
}

@utility bg-linear-green-to-r {
  background-image: linear-gradient(
    90deg in oklab,
    var(--color-positive-500) 0%,
    var(--color-positive-600) 100%
  );
}

@utility bg-linear-green-to-b {
  background-image: linear-gradient(
    180deg in oklab,
    var(--color-positive-500) 0%,
    var(--color-positive-600) 100%
  );
}*/
