@layer base {
  [class*="stack-"][class*="stack-space-"] {
    & > * {
      --stack-item-space: initial;
    }
  }
}

@utility stack-* {
  > * {
    --stack-space: calc(var(--spacing) * --value(number));
    --stack-space: calc(var(--spacing) * --value([number]));
  }

  > *:not(.no-space-y, .no-space-b) + *:not(.no-space-y, .no-space-t) {
    margin-block-start: var(--stack-item-space, var(--stack-space, 4rem));
  }
}

@utility stack-space-* {
  --stack-item-space: calc(var(--spacing) * --value(number));
  --stack-item-space: calc(var(--spacing) * --value([number]));

  &:is([class*="stack-"][class*="stack-space-"] > *) {
    --stack-item-space: calc(var(--spacing) * --value(number));
    --stack-item-space: calc(var(--spacing) * --value([number]));
  }
}

@utility stack-space-auto {
  --stack-item-space: auto;

  &:is([class*="stack-"][class*="stack-space-"] > *) {
    --stack-item-space: auto;
  }
}

@layer utilities {
  .stack-space-inherit {
    --stack-item-space: initial;
    &:is([class*="stack-"][class*="stack-space-"] > *) {
      --stack-item-space: initial;
    }
  }

  *:is(.stack-space-collapse) + *:is(.stack-space-collapse) {
    --stack-item-space: 0;
  }
}
