{# Sets a default value if not defined by `s-val:*` on the clicked element #}
{% set page = page ??? craft.app.request.pageNum ??? 1 %}

{% cache using key craft.app.request.pathInfo ~ 'overviewNews-' ~ section ~ '-' ~ page %}
  {% minify %}
    {% set entryQuery = craft.entries
      .section(section)
      .with(['entryImage'])
      .limit(limit)
      .orderBy('postDate DESC') %}

    {# Paginates the entry query given the current page #}
    {% set pageInfo = sprig.paginate(entryQuery, page) %}
    {% set entries = pageInfo.pageResults %}
    {% do craft.blitz.options.paginate(pageInfo.totalPages) %}

    <div class="container">
      {{ include('_components/pageIntros/image.twig', {
        props: {
          headline: entryCustomTitleOverwrite ??? headline ??? null,
        }
      }, withContext = false) }}

      {{ include('_components/stacks/stackNews.twig', {
        props: {
          items: entries ??? null,
          noLazyImageLoadingCount: 6,
        }
      }, withContext = false) }}

      {{ include('_components/pagination/pagination.twig', {}, withContext = true) }}
    </div>
  {% endminify %}
{% endcache %}
