/* -------------------------------------------------- */
/*    c-accordion
/* -------------------------------------------------- */

.c-accordion {
  + .c-accordion {
    margin-top: 0.5rem;
  }

  &__trigger {
    user-select: none;
    cursor: pointer;
    background-color: var(--c-gray-100);
    border-radius: 15px;
    padding: 1.5rem 4rem 1.5rem 2rem;
    @include ms(-1);
    font-weight: 700;
    position: relative;
    z-index: 10;

    &.is-open {
      background-color: var(--c-gray-200);
    }

    &.is-open ~ .c-accordion__content {
      display: block;
    }

    &.is-open > .c-accordion__indicator {
      &::after {
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
  }

  &__indicator {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: var(--c-white);
    border-radius: 16px;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 14px;
      height: 2px;
      background-color: var(--c-gray-400);
      transform: translate(-50%, -50%) rotate(0);
      transition: transform 0.25s var(--ease-out-cubic);
    }
  }

  &__content {
    display: none;
    background-color: var(--c-gray-100);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2rem 4rem 1.5rem 2rem;
    position: relative;
    z-index: 5;
    margin-top: -1rem;
  }
}

.c-accordion--narrow {
  .c-accordion__trigger {
    background-color: transparent;
    border-bottom: 1px dotted var(--c-gray-300);
    padding: 0.5rem 2rem 0.5rem 0;
    border-radius: 0;

    &.is-open {
      background-color: transparent;
    }
  }

  .c-accordion__indicator {
    right: 0;
    background-color: transparent;
  }

  .c-accordion__content {
    background-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.5rem 2rem 0.5rem 0;
    margin-top: 0;
  }
}
