/*
 |--------------------------------------------------------------------------
 |  postNav
 |--------------------------------------------------------------------------
 */

.m-postNav {
}

.m-postNav__item--next {
  margin-left: auto;
}

.m-postNav__link {
  display: block;
  position: relative;
  color: var(--c-gray-500);
  border: 1px solid var(--c-gray-100);
  padding-top: s(4);
  padding-bottom: s(2);
}

.m-postNav__link:hover {
  border-color: var(--c-gray-300);
  color: var(--c-gray-900);
}

.m-postNav__link:hover svg path {
  fill: var(--c-gray-500);
}

.m-postNav__link:hover .m-postNav__label {
  color: var(--c-gray-900);
}

.m-postNav--prev {
  padding-left: s(9);
  text-align: left;
}

.m-postNav--next {
  padding-right: s(9);
  text-align: right;
}

.m-postNav__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;

  svg {
    width: 24px;
    height: 24px;
  }

  svg path {
    fill: var(--c-gray-300);
    transition: all 0.25s var(--ease-out-cubic);
  }
}

.m-postNav--prev {
  left: 50%;
  transform: translate(-50%, -50%);

  @include media('>=s') {
    left: s(3);
    transform: translateY(-50%);
  }
}

.m-postNav--next {
  right: 50%;
  transform: translate(50%, -50%);

  @include media('>=s') {
    right: s(3);
    transform: translateY(-50%);
  }
}

.m-postNav__label {
  // @include ms-respond(font-size, -2); TODO
  display: none;
  color: var(--c-gray-400);
  margin-top: s(-2);
  transition: all 0.25s var(--ease-out-cubic);

  @include media('>=s') {
    display: block;
  }
}

.m-postNav__title {
  display: none;

  @include media('>=s') {
    display: block;
  }
}

