/*
 |--------------------------------------------------------------------------
 |  .c-link
 |--------------------------------------------------------------------------
 */


.c-link {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  border-radius: 5px;
  padding: 1rem 2rem;
  @include ms(-1);
}

.c-link--primary {
  background-color: var(--c-gray-900);
  color: var(--c-gray-200);

  &:hover {
    background-color: var(--c-black);
    color: var(--c-gray-200);
  }
}

.c-link--secondary {
  background-color: var(--c-gray-200);
  color: var(--c-gray-600);

  &:hover {
    background-color: var(--c-gray-200);
    color: var(--c-gray-600);
  }
}

.c-link--outlined {
  border-color: var(--c-gray-700);

  &:hover {
    border-color: var(--c-gray-900);
  }
}

