/*
 |--------------------------------------------------------------------------
 |  .c-link-link
 |--------------------------------------------------------------------------
 */


.c-linkIcon {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  border-radius: 5px;
  padding: 1rem 2rem;
  @include ms(-1);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .c-icon {
    margin-right: 1rem;
  }
}

.c-linkIcon--primary {
  background-color: var(--c-gray-900);
  color: var(--c-gray-200);

  &:hover {
    background-color: var(--c-black);
    color: var(--c-gray-200);
  }
}
