/*
 |--------------------------------------------------------------------------
 |  l-section
 |--------------------------------------------------------------------------
 */

.l-section {
  display: block;
  width: 100%;
  position: relative;
}

.l-section--lightgray {
  background-color: #f4f4f4;
}

.l-section--visible {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  &::after {
    content: 'SECTION';
    line-height: 1;
    font-size: 11px;
    color: #a4a4a4;
    letter-spacing: 5px;
    font-weight: 700;
    pointer-events: none;
    user-select: none;
  }
}

