/*
 |--------------------------------------------------------------------------
 |  o-appFooter
 |--------------------------------------------------------------------------
 */

// Modul
.o-appFooter {
  $root: &;
  @include vr();

  &__inner {
    background-color: c('black', '05');
    padding: s(2);
    font-size: ms(-2);
    text-transform: uppercase;
    text-align: center;
  }
}

// Modul Modifiers Example
.o-appFooter--modifier {
  .o-appFooter__block {
    // Styles here
  }
}
