{# Set Defaults #}
{% set defaults = {
  cn: 'c-appHeader',

  data: {}
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

<header class="bg-gray-100" {{ module.settings(props) }}>
  <div class="container py-8 grid grid-cols-12 gap-8 items-center">
    <div class="col-span-1">
      {% include '_components/logo/logo.twig' only %}
    </div>
    <h1 class="text-2xl font-bold col-span-11">Baukasten</h1>
  </div>
</header>

