{# Set Defaults #}
{% set defaults = {
  cn: 'c-appHeader',
  modifiers: [],
  customClasses: [],
  data: {}
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

<header {{ module.settings(props) }}>
  <div class="container {{ props.cn ~ '__content' }}">
    {# logo #}
    {% include '_components/logo/logo.twig' only %}
    <h1 class="{{ props.cn ~ '__headline' }}">Baukasten</h1>
  </div>
</header>

