{# Set Defaults #}
{% set defaults = {
  cn: 'o-appHeader',
  modifiers: [],
  customClasses: [],
  twClassSet: null,
  data: {}
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Tailwind Magic #}
{% switch props.twClassSet %}
{% case "caseA" %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss:  #}

{% default %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss: custuom classes here as string #}
{% endswitch %}

<header {{ module.settings(props, twClasses.root) }}>
  <div class="container py-2">
    <div class="flex items-center">
      {# -- logo -- #}
      {% include '_components/logo/logo.twig' with {
        props: {
          customClasses: [
            'w-96px h-96px'
          ],
          name: 'logo'
        }
      } only %}
      <h2 class="ms-3 px-1">Craft 3 Baukasten Sample</h2>
    </div>
  </div>
</header>
