{# Set Defaults #}
{% set compDefaults = {
  settings: {
    name: 'c-appHeader',
  },
  data: {},
  classes: {}
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

<header class="bg-gray-100" {{ macroComponentSettings.componentSettings(props.settings) }}>
  <div class="container py-8 flex items-center">
    {% include '_components/logo/logo.twig' with {
      data: {
        test: 'test'
      },
      classes: {
        class: 'class'
      }
    } only %}
    <h1 class="text-xl font-bold ml-8">Baukasten</h1>
  </div>
</header>

