/*
 |--------------------------------------------------------------------------
 |  Pagination
 |--------------------------------------------------------------------------
 */

.c-pagination {
  &__inner {
    width: 100%;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__link {
    background-color: transparent;
    color: var(--c-gray-900);
    line-height: 38px;
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    border-radius: 300px;
    flex: 0 0 40px;

    &:hover {
      background: var(--c-gray-900);
      color: var(--c-white);
    }

    &--current {
      background: var(--c-gray-900);
      color: var(--c-white);
    }
  }
}
