/* -------------------------------------------------- */
/*    Links
/* -------------------------------------------------- */

a {
  color: var(--c-red);
  text-decoration: none;
  font-weight: 500;
  transition: all 250ms var(--ease-out-cubic);

  &:hover {
    color: var(--c-red-900);
  }
}

.a-richText a {
  text-decoration: underline;
}
