h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
  line-height: 1.2;
  font-style: italic;
  font-weight: 900;
  @include wf('headline');
}

h1 {
  @include ms-respond(font-size, 6);
}

h2 {
  @include ms-respond(font-size, 5);
}

h3 {
  @include ms-respond(font-size, 4);
}

h4 {
  @include ms-respond(font-size, 3);
}

h5 {
  @include ms-respond(font-size, 2);
}

h6 {
  @include ms-respond(font-size, 1);
}
