/* -------------------------------------------------- */
/*    Links
/* -------------------------------------------------- */

a {
  color: var(--c-gray-700);
  transition: all 125ms var(--ease-out-cubic);

  &:hover {
    color: var(--c-gray-900);
  }
}
