h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
  line-height: var(--lh-base-headings);
  font-style: italic;
  font-weight: 900;
  /*@include wf('headline');*/
}

h1 {
  @apply .text-ms-6--min;

  @screen min {
    @apply .text-ms-6--fluid;
  }

  @screen max {
    @apply .text-ms-6--max;
  }
}

h2 {
  @apply .text-ms-5--min;

  @screen min {
    @apply .text-ms-5--fluid;
  }

  @screen max {
    @apply .text-ms-5--max;
  }
}

h3 {
  @apply .text-ms-4--min;

  @screen min {
    @apply .text-ms-4--fluid;
  }

  @screen max {
    @apply .text-ms-4--max;
  }
}

h4 {
  @apply .text-ms-3--min;

  @screen min {
    @apply .text-ms-3--fluid;
  }

  @screen max {
    @apply .text-ms-3--max;
  }
}

h5 {
  @apply .text-ms-2--min;

  @screen min {
    @apply .text-ms-2--fluid;
  }

  @screen max {
    @apply .text-ms-2--max;
  }
}

h6 {
  @apply .text-ms-1--min;

  @screen min {
    @apply .text-ms-1--fluid;
  }

  @screen max {
    @apply .text-ms-1--max;
  }
}
