/* -------------------------------------------------- */
/*    Links
/* -------------------------------------------------- */

a {
  @apply text-gray-700;
  transition: all 250ms ease-out;


  &:hover {
    @apply text-gray-900;
  }
}
