h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
  line-height: var(--lh-base-headings);
  font-style: italic;
  font-weight: 900;
  /*@include wf('headline');*/
}

h1 {
  @apply .text-ms-6--mobile;

  @screen m {
    @apply .text-ms-6;
  }
}

h2 {
  @apply .text-ms-5--mobile;

  @screen m {
    @apply .text-ms-5;
  }
}

h3 {
  @apply .text-ms-4--mobile;

  @screen m {
    @apply .text-ms-4;
  }
}

h4 {
  @apply .text-ms-3--mobile;

  @screen m {
    @apply .text-ms-3;
  }
}

h5 {
  @apply .text-ms-2--mobile;

  @screen m {
    @apply .text-ms-2;
  }
}

h6 {
  @apply .text-ms-1--mobile;

  @screen m {
    @apply .text-ms-1;
  }
}
