/*
 |--------------------------------------------------------------------------
 |
 | Description of what this file is for
 |
 | @package Baukasten
 | @author David Hellmann [david@hellmann.io]
 | .m-gridOverlay
 |--------------------------------------------------------------------------
 */

// Modul
/* stylelint-disable */
.t-devMode {
  .js-toggleGrid {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 111111111111;
    background-color: var(--c-black);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    color: c('white');
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    font-weight: 500;
    box-shadow: 0 2px 10px rgba(var(--c-black), 0.5);
  }


  .m-gridOverlay {
    position: fixed !important;
    left: 50%;
    top: 0;
    z-index: 1111111;
    transform: translateX(-50%);
    height: 100vh;
    border-left: 1px dotted rgba(red, 0.2);
    border-right: 1px dotted rgba(red, 0.2);
    pointer-events: none;
    display: none;

    &.is-visible {
      display: block;
    }

    .o-row {
      height: 100vh;
    }

    .o-col {
      box-shadow: 1px 0 0 rgba(red, 0.3);
      height: 100vh;
      margin: 0;

      &:first-child {
        box-shadow: 1px 0 0 rgba(red, 0.3), -1px 0 0 rgba(red, 0.3),;
      }

      &:nth-child(6n) ~ .o-col {
        display: none;

        @include media('>=s') {
          display: block;
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        @include f(s(1), s(2), width);
        height: 100vh;
      }

      &::before {
        left: 0;
        border-right: 1px dotted rgba(red, 0.2);
      }

      &::after {
        right: 0;
        border-left: 1px dotted rgba(red, 0.2);
      }
    }
  }
}

/* stylelint-enable */
