/*
 |--------------------------------------------------------------------------
 |  m-caption
 |--------------------------------------------------------------------------
 */


.m-caption {
  $root: &;
  display: block;
  @include vr(1/2);

  &__inner {
    @include ms-respond(font-size, -1);
    color: var(--c-gray-700);
  }
}
