/*
 |--------------------------------------------------------------------------
 |  Content Builder Stuff
 |--------------------------------------------------------------------------
 */

.blocks .matrixblock[data-type="blockSection"] {
  margin-top: 50px;
}

.blocks .matrixblock[data-type="blockSection"] ~ .matrixblock:not([data-type="blockSection"]) {
  width: 97%;
  margin-left: 3%;
}
