/*
 |-------------------------------------------------------------------------- #}
 | .c-spinner
 |--------------------------------------------------------------------------
 */

.c-spinner {
  position: absolute;
  width: 40px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: space-around;

  &__bounce {
    width: 8px;
    height: 8px;
    background-color: var(--c-white);
    border-radius: 100%;
    display: inline-block;
    animation: spinnerBounce 1.4s infinite var(--ease-in-out-cubic) both;
  }

  &__bounce--1 {
    animation-delay: -0.32s;
  }

  &__bounce--2 {
    animation-delay: -0.16s;
  }

  @keyframes spinnerBounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1.0);
    }
  }
}

.c-spinner--dark  {
  .c-spinner__bounce {
    background-color: var(--c-black);
  }
}
