{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [david@hellmann.io]

  a-spinner
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'a-spinner',
  modifiers: [],
  customClasses: [],
  data: {}
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}





{# Modul #}
<div {{ module.settings(props) }}>
  <div class="{{ props.cn ~ '__inner' }}"></div>
</div>
