@reference "../../../src/css/app.css";

@font-face {
  font-family: lg;
  src: url('/dist/fonts/lg.woff') format('woff'), url('/dist/fonts/lg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.lg-next,
.lg-prev {
  background-color: var(--color-white);
  color: var(--color-gray-500);
}

.lg-next:hover:not(.disabled),
.lg-prev:hover:not(.disabled) {
  color: var(--color-primary-500);
}

.lg-toolbar .lg-icon {
  color: var(--color-gray-500);
}

.lg-toolbar .lg-icon:hover {
  color: var(--color-primary-500);
}

.lg-sub-html {
  font-size: var(--text-xs);
  line-height: var(--leading-tight);
  color: var(--color-gray-500);
  background-color: --alpha(var(--color-white) / 90%);
}

.lg-error-msg {
  color: var(--color-gray-500);
}

.lg-counter {
  color: var(--color-gray-500);
}

.lg-backdrop {
  background-color: --alpha(var(--color-white) / 98%);
}

/* Thumb */
.lg-outer .lg-thumb-outer {
  background-color: var(--color-white);
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
  border-color: var(--color-primary-500);
}
