/*
 |--------------------------------------------------------------------------
 |  c-imageGallery
 |--------------------------------------------------------------------------
 */

@import '~photoswipe/dist/photoswipe';

.c-imageGallery {
  $root: &;
  margin-top: -2rem;

  &__inner {
    @include row();
  }

  .c-caption {
    display: none;
  }

  &__figure {
    position: relative;
    margin-top: 2rem;
    @include col(3, 6);
    @include col-padding();

    @include media('>=s') {
      @include col(8, 24);
    }

    @include media('>=l') {
      @include col(4, 24);
    }

    &.is-hidden {
      display: none;
    }
  }

  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    left: 1rem;
    right: 1rem;
    top: 0;
    bottom: 0;
    background-color: var(--c-gray-100);
    color: var(--c-gray-700);
    font-weight: 700;
    cursor: pointer;
  }

  &__link {
    display: block;
  }

  .a-image {
    margin-top: 0;
  }
}
