/*
 |--------------------------------------------------------------------------
 | @package  <%= projectName %>
 | @author <%= author.name %> [<%= author.email %>]
 |
 | .c-<%= moduleName.replace('-', '_') %>
 |--------------------------------------------------------------------------
 */

/* prettier-ignore */
.c-<%= moduleName.replace('-', '_') %> {
  // Put your styles here
}
