/*
 |--------------------------------------------------------------------------
 | @package  <%= projectName %>
 | @author <%= author.name %> [<%= author.email %>]
 |
 | .<%= pathOptions.key.charAt(0) %>-<%= moduleName.replace('-', '_') %>
 |--------------------------------------------------------------------------
 */

@import 'style-basic';
