{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'c-<%= moduleName.replace('-', '_') %>',
  modifiers: [],
  customClasses: [],
  data: {},
  foo: null
} %}

{# -- Merge Default with Options -- #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{% if props.foo %}
  <div {{ module.settings(props) }}>
    <%= moduleName.replace('-', '_') %>
  </div>
{% endif %}

