/*
 |--------------------------------------------------------------------------
 |  Klaro
 |--------------------------------------------------------------------------
 */

#mangeCookies {
  color: var(--c-gray-900);
  position: fixed;
  bottom: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  background-color: var(--c-white);
  border-radius: 200px;
  padding: 8px 12px;
  box-shadow: 0 2px 10px rgba(#212121, 0.1);
  border: 1px solid rgba(#212121, 0.1);
  @include ms-respond(font-size, -1);

  &:hover svg {
    transform: scale(1.2) rotate(15deg);
  }

  svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    transition: transform 500ms var(--ease-out-cubic);
    transform: scale(1) rotate(0);
  }
}

.klaro .cookie-modal,
.klaro .cookie-notice {
  @include ms-respond(font-size, -1);
}

.klaro .cookie-modal .switch,
.klaro .cookie-notice .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.klaro .cookie-modal .switch.disabled input:checked + .slider,
.klaro .cookie-notice .switch.disabled input:checked + .slider {
  opacity: 0.5;
  background-color: var(--c-green);
}

.klaro .cookie-modal .slider,
.klaro .cookie-notice .slider {
  box-shadow: none;
}

.klaro .cookie-modal .cm-app-input,
.klaro .cookie-notice .cm-app-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 50px;
  height: 30px;
}

.klaro .cookie-modal .cm-app-label .slider,
.klaro .cookie-notice .cm-app-label .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--c-gray-200);
  box-shadow: inset 0 0 5px rgba(black, 0.05);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 50px;
  display: inline-block;
}

.klaro .cookie-modal .cm-app-label .slider:before,
.klaro .cookie-notice .cm-app-label .slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: var(--c-red);
  box-shadow: 0 1px 1px rgba(black, 0.2);
  transition: 0.4s;
}

.klaro .cookie-modal .cm-app-label .slider.round,
.klaro .cookie-notice .cm-app-label .slider.round {
  border-radius: 30px;
}

.klaro .cookie-modal .cm-app-label .slider.round:before,
.klaro .cookie-notice .cm-app-label .slider.round:before {
  border-radius: 50%;
}

.klaro .cookie-modal .cm-app-label input:focus + .slider,
.klaro .cookie-notice .cm-app-label input:focus + .slider {
  box-shadow: 0 0 1px #0885ba;
}

.klaro .cookie-modal .cm-app-label input:checked + .slider:before,
.klaro .cookie-notice .cm-app-label input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.klaro .cookie-modal .cm-app-input:focus + .cm-app-label .slider,
.klaro .cookie-notice .cm-app-input:focus + .cm-app-label .slider {
  box-shadow: none;
}

.klaro .cookie-modal .cm-app-input:checked + .cm-app-label .slider,
.klaro .cookie-notice .cm-app-input:checked + .cm-app-label .slider {
  background-color: var(--c-gray-200);
}

.klaro .cookie-modal .cm-app-input:checked + .cm-app-label .slider:before,
.klaro .cookie-notice .cm-app-input:checked + .cm-app-label .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: var(--c-green);
}

.klaro .cookie-modal .cm-app-input:disabled + .cm-app-label .slider:before,
.klaro .cookie-modal .cm-app-input:disabled + .cm-app-label .slider:before {
  background-color: var(--c-gray-400);
}

.klaro .cookie-modal .slider,
.klaro .cookie-notice .slider {
  box-shadow: none;
}

.klaro .cookie-modal a,
.klaro .cookie-notice a {
  color: var(--c-green);
  text-decoration: none;
}

.klaro .cookie-modal p,
.klaro .cookie-modal strong,
.klaro .cookie-modal h1,
.klaro .cookie-modal h2,
.klaro .cookie-modal ul,
.klaro .cookie-modal li,
.klaro .cookie-notice p,
.klaro .cookie-notice strong,
.klaro .cookie-notice h1,
.klaro .cookie-notice h2,
.klaro .cookie-notice ul,
.klaro .cookie-notice li {
  font-family: inherit;
  color: var(--c-gray-900);
}

.klaro .cookie-modal h1,
.klaro .cookie-modal h2,
.klaro .cookie-notice h1,
.klaro .cookie-notice h2 {
  @include wf('headline');
}

.klaro .cookie-modal h1,
.klaro .cookie-notice h1 {
  text-align: center !important;
}

.klaro .cookie-modal p,
.klaro .cookie-modal h1,
.klaro .cookie-modal h2,
.klaro .cookie-modal ul,
.klaro .cookie-modal li,
.klaro .cookie-notice p,
.klaro .cookie-notice h1,
.klaro .cookie-notice h2,
.klaro .cookie-notice ul,
.klaro .cookie-notice li {
  display: block;
  text-align: inherit;
  margin: 0;
  padding: 0;
  @include space(margin-top, 0.5);
}

.klaro .cookie-modal .cm-btn,
.klaro .cookie-notice .cm-btn {
  box-shadow: none;
  color: var(--c-white);
  border-radius: 0;
  @include space(padding-left padding-right, 0.5);
  @include space(padding-top padding-bottom, 0.25);
  margin-right: s(1);
  border: 0;
  transition: background-color 250ms var(--ease-out-cubic);
}

.klaro .cookie-modal .cm-btn.cm-btn-sm,
.klaro .cookie-notice .cm-btn.cm-btn-sm {
  @include space(padding-left padding-right, 0.5);
  @include space(padding-top padding-bottom, 0.25);
  font-size: inherit;
}

.klaro .cookie-modal .cm-btn.cm-btn-close,
.klaro .cookie-notice .cm-btn.cm-btn-close {
  background-color: var(--c-gray-900);
  color: var(--c-gray-50);

  &:hover {
    background: var(--c-gray-700);
  }
}

.klaro .cookie-modal .cm-btn.cm-btn-success,
.klaro .cookie-notice .cm-btn.cm-btn-success {
  background-color: var(--c-gray-900);
  color: var(--c-gray-50);

  &:hover {
    background: var(--c-gray-700);
  }
}

.klaro .cookie-modal .cm-btn.cm-btn-danger,
.klaro .cookie-notice .cm-btn.cm-btn-danger {
  background-color: var(--c-gray-900);
  color: var(--c-gray-50);

  &:hover {
    background: var(--c-gray-700);
  }
}

.klaro .cookie-modal .cm-btn.cm-btn-info,
.klaro .cookie-notice .cm-btn.cm-btn-info {
  background-color: var(--c-gray-900);
  color: var(--c-gray-50);

  &:hover {
    background: var(--c-gray-700);
  }
}

.klaro .cookie-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 1000;
}

.klaro .cookie-modal .cm-bg {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.klaro .cookie-modal .cm-modal {
  z-index: 1001;
  box-shadow: none;
  width: 100%;
  top: 50%;
  left: 50%;
  max-height: calc(100% - 32px);
  max-width: calc(100% - 32px);
  transform: translate(-50%, -50%);
  position: fixed;
  overflow: auto;
  background: var(--c-white);
  color: var(--c-gray-900);
  @include space(padding, 1);
}

@media (min-width: 1024px) {
  .klaro .cookie-modal .cm-modal {
    border-radius: 0;
    position: fixed;
    margin: 0 auto;
    max-width: 640px;
    height: auto;
    width: auto;
  }
}

.klaro .cookie-modal .cm-modal .hide {
  border: none;
  background: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.klaro .cookie-modal .cm-modal .hide svg {
  stroke: #eee;
}

.klaro .cookie-modal .cm-modal .cm-footer {
  padding: 0;
  @include space(padding-top, 0.5);
  border-top: 3px solid var(--c-gray-300);
}

.klaro .cookie-modal .cm-modal .cm-footer a.cm-powered-by {
  position: absolute;
  @include space(right, 1);
  color: var(--c-gray-500);
  font-size: inherit;
  padding-top: 8px;
}

.klaro .cookie-modal .cm-modal .cm-header {
  padding: 0;
  @include space(padding-top padding-bottom, 1);
  border-bottom: 3px solid var(--c-gray-300);
  text-align: center !important;
}

.klaro .cookie-modal .cm-modal .cm-header h1 {
  margin: 0;
  display: block;
}

.klaro .cookie-modal .cm-modal .cm-header p {
  @include ms-respond(font-size, 0);
}

.klaro .cookie-modal .cm-modal .cm-header h1.title {
  padding-right: 0;
  @include ms-respond(font-size, 2);
  @include space(padding-left padding-right, 1);
}

.klaro .cookie-modal .cm-modal .cm-body {
  padding: 0;
  @include space(padding-top padding-bottom, 1);
}

.klaro .cookie-modal .cm-modal .cm-body ul {
  display: block;
}

.klaro .cookie-modal .cm-modal .cm-body span {
  display: inline-block;
  width: auto;
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-apps {
  padding: 0;
  margin: 0;
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-apps li.cm-app {
  position: relative;
  line-height: 20px;
  vertical-align: middle;
  padding-left: 60px;
  min-height: 40px;
  border-top: 1px dotted var(--c-gray-300);
  @include space(padding-top, 0.5);

  &:first-child {
    border-top: 0;
    padding-top: 0;
  }
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-apps li.cm-app:first-child {
  margin-top: 0;
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-apps li.cm-app .switch {
  position: absolute;
  left: 0;
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-apps li.cm-app p {
  margin-top: 0;
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-apps li.cm-app p.purposes {
  @include ms-respond(font-size, -2);
  margin-top: s(1/2);
  color: var(--c-gray-900);
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-apps li.cm-app.cm-toggle-all {
  border-top: 3px solid var(--c-gray-300);
  @include space(padding-top margin-top, 1);
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-apps li.cm-app span.cm-app-title {
  font-weight: 600;
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-apps li.cm-app span.cm-opt-out,
.klaro .cookie-modal .cm-modal .cm-body ul.cm-apps li.cm-app span.cm-required {
  padding-left: s(1/2);
  @include ms-respond(font-size, -2);
  color: var(--c-red);
}

.klaro .cookie-notice {
  background: var(--c-white);
  z-index: 999;
  position: fixed;
  width: 100%;
  bottom: 16px;
  right: 16px;
  box-shadow: 0 2px 10px rgba(#212121, 0.1);
  border: 1px solid rgba(#212121, 0.1);
  @include space(padding, 1);
}

@media (min-width: 990px) {
  .klaro .cookie-notice {
    box-shadow: 0 2px 10px rgba(#212121, 0.1);
    border: 1px solid rgba(#212121, 0.1);
    border-radius: 0;
    position: fixed;
    bottom: 16px;
    right: 16px;
    max-width: 480px;
  }
}

@media (max-width: 989px) {
  .klaro .cookie-notice {
    border: none;
    border-radius: 0;
  }
}

.klaro .cookie-notice .cn-body {
  margin-bottom: 0;
  margin-right: 0;
  bottom: 0;
  padding: 0;
}

.klaro .cookie-notice .cn-body p {
  margin-bottom: s(2);
  margin-top: 0;
}

.klaro .cookie-notice .cn-body a {
  display: block;
}

.klaro .cookie-notice .cn-body p.cn-changes {
  text-decoration: underline;
}

.klaro .cookie-notice .cn-body .cn-learn-more {
  display: inline-block;
}

.klaro .cookie-notice .cn-body p.cn-ok {
  padding-top: 0;
  margin: 0;
}

.klaro .cookie-notice-hidden {
  display: none !important;
}
