{# Set Defaults #}
{% set defaults = {
  cn: 'a-logo',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  url: null,
  name: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

<div {{ module.settings(props) }}>
  {% if props.url %}
  <a class="{{ props.cn ~ '__link' }}" href="{{ props.url }}">
    {% endif %}

    {{ svg('@webroot/dist/img/svg/logo.svg') }}

    {% if props.url %}
  </a>
  {% endif %}
</div>


