{# Set Defaults #}
{% set defaults = {
  cn: 'a-logo',
  modifiers: [],
  customClasses: [],
  twClassSet: null,
  data: {},
  js: null,
  url: null,
  name: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Tailwind Magic #}
{% switch props.twClassSet %}
{% case "caseA" %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss:  #}

{% default %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss: custuom classes here as string #}
{% endswitch %}

{% if props.name %}
  <div {{ module.settings(props, twClasses.root) }}>
    {% if props.url %}
    <a class="{{ props.cn ~ '__link' }}" href="{{ props.url }}">
      {% endif %}

      {{ svg('@webroot/dist/img/svg/logo.svg') }}

      {% if props.url %}
    </a>
    {% endif %}
  </div>
{% endif %}


