{# Set Defaults #}
{% set defaults = {
  cn: 'a-logo',
  theme: getenv('BAUKASTEN_THEME') | default(null),
  variant: 'default',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  url: null,
  name: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Baukasten:Minimal #}
{% if props.theme == 'Baukasten:Minimal' %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Custom Styling #}
{% if not props.theme == 'Baukasten:Minimal' %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{% if props.name %}
  <div {{ module.settings(props, twClasses.root) }}>
    {% if props.url %}
    <a class="{{ props.cn ~ '__link' }}" href="{{ props.url }}">
      {% endif %}

      {{ svg('@webroot/dist/img/svg/logo.svg') }}

      {% if props.url %}
    </a>
    {% endif %}
  </div>
{% endif %}


