/*
 |--------------------------------------------------------------------------
 | @package  craft-baukasten
 | @author David Hellmann [david@hellmann.io]
 |
 | .a-logo
 |--------------------------------------------------------------------------
 */

.a-logo {
  width: auto;
  height: 60px;
  background-color: var(--c-white);

  svg {
    width: auto;
    height: 100%;
  }
}

.a-logo__link {
  display: inline-block;
}
