{# Set Defaults #}
{% set defaults = {
  cn: 'c-logo',
  data: {},
  js: null,
  url: siteUrl,
  name: 'logo'
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{% if props.name %}
  <div {{ macroComponentSettings.componentSettings(props) }}>
    {% if props.url %}
    <a href="{{ props.url }}">
      {% endif %}
      {{ svg('@webroot/dist/img/svg/' ~ props.name ~ '.svg')
      | attr({ class: 'w-20 h-20' }) }}

      {% if props.url %}
    </a>
    {% endif %}
  </div>
{% endif %}


