{# Set Defaults #}
{% set defaults = {
  cn: 'c-logo',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  url: null,
  name: 'logo'
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{% if props.name %}
  <div {{ module.settings(props) }}>
    {% if props.url %}
    <a class="{{ props.cn ~ '__link' }}" href="{{ props.url }}">
      {% endif %}

      {{ svg('@webroot/dist/img/svg/' ~ props.name ~ '.svg') }}

      {% if props.url %}
    </a>
    {% endif %}
  </div>
{% endif %}


