/*
 |--------------------------------------------------------------------------
 | @package  craft-baukasten
 | @author David Hellmann [david@hellmann.io]
 |
 | .variant-picture.a-image
 |--------------------------------------------------------------------------
 */

.variant-picture.a-image {
  display: inline-block;

  &__image {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  &__picture {
    transition: all 0.875s 0.875s ease('out-cubic');
  }
}
