/*
 |--------------------------------------------------------------------------
 | @package  craft-baukasten
 | @author David Hellmann [david@hellmann.io]
 |
 | .a-sample.variant-basic
 |--------------------------------------------------------------------------
 */

.a-image.variant-picture {
  display: inline-block;

  .a-image__image {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .a-image__picture {
    transition: all 0.875s 0.875s ease('out-cubic');
  }
}
