/*
 |--------------------------------------------------------------------------
 | @package  craft-baukasten
 | @author David Hellmann [david@hellmann.io]
 |
 | .c-spacer
 |--------------------------------------------------------------------------
 */

/* prettier-ignore */
.c-spacer {
  // Put your styles here
}
