/*
 |--------------------------------------------------------------------------
 |  a-divider.variant-basic
 |--------------------------------------------------------------------------
 */

// Modul
.variant-basic.a-divider {
  $root: a-divider;
  border: 0;
  width: 100%;
  height: 3px;
  background-color: var(--c-gray-300);

  &--medium {
    width: 50%;
  }

  &--narrow {
    width: 25%;
  }
}
