/*
 |-------------------------------------------------------------------------- #}
 | .c-spacer
 |--------------------------------------------------------------------------
 */

.c-spacer {
  border: 0;
  width: 100%;
  margin: 0;
}

/* stylelint-disable */
$bk-spacer: (
    (2),
    (4),
    (6),
    (8),
    (10),
    (12),
    (14),
    (16),
    (18),
    (20),
);
/* stylelint-enable */

// Ratio variants
@each $spacer in $bk-spacer {
  .c-spacer--#{$spacer} {
    height: #{$spacer}rem;
  }
}

.c-spacer--visible {
  background-color: rgba(turquoise, 0.1);
  box-shadow: inset 0 0 0 1px turquoise;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: 'SPACER';
    line-height: 1;
    font-size: 11px;
    color: turquoise;
    letter-spacing: 5px;
    font-weight: 700;
    pointer-events: none;
    user-select: none;
  }
}
