{# -- Layout template for HTML pages -- #}
{#
┌─────────────────────────────────────────────────────────────────────────────┐
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                                                         │ │
│ │                                                                         │ │
│ │                                                                         │ │
│ │                                 content                                 │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                                                         │ │
│ │                                                                         │ │
│ │                                                                         │ │
│ │                               subContent                                │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│                                                                             │
│                                  bodyHtml                                   │
└─────────────────────────────────────────────────────────────────────────────┘
#}
{% extends "_boilerplate/_layouts/base-html-layout.twig" %}

{# -- Any <meta> tags that should be included in the <head> #}
{% block headMeta %}
{% endblock headMeta %}

{# -- Any <link> tags that should be included in the <head> #}
{% block headLinks %}
  {% include '_boilerplate/_partials/preload-fonts.twig' %}
{% endblock headLinks %}

{# -- Any CSS that should be included before </head> -- #}
{% block headCss %}
  {% include "_inline-css/site-fonts.css" %}
{% endblock headCss %}

{# -- Page body -- #}
{% block bodyHtml %}
  <div id="page-container" class="overflow-hidden">

    {# appHeader #}
    {% include '_components/appHeader/appHeader.twig' only %}

    <div id="content-container">
      <main>
        {# -- Primary content block -- #}
        {% block content %}
        {% endblock %}
      </main>
    </div>

    {# -- Content that appears below the primary content block -- #}
    {% block subcontent %}
    {% endblock %}

    {# appFooter #}
    {% include '_components/appFooter/appFooter.twig' only %}

    {# -- HTML Footer -- #}
    {% include '_partials/global-footer.twig' %}
  </div>
{% endblock bodyHtml %}
