{# Layout template for HTML pages #}
{% extends "_boilerplate/_layouts/base-html-layout.twig" %}

{# Any <meta> tags that should be included in the <head> #}
{% block headMeta %}
{% endblock headMeta %}

{# Any <link> tags that should be included in the <head> #}
{% block headLinks %}
{% endblock headLinks %}

{# Any CSS that should be included before </head> #}
{% block headCss %}
{% endblock headCss %}

{# Page body #}
{% block bodyHtml %}
  <div id="app">
    <confetti></confetti>

    {# Info header, including _navbar.twig #}
    {% include "_partials/info-header.twig" %}

    {# Primary content block #}
    {% block content %}
    {% endblock %}

    {# Content that appears below the primary content block #}
    {% block subcontent %}
    {% endblock %}

    {# Info footer #}
    {% include "_partials/info-footer.twig" %}

    {# HTML Footer #}
    {% include "_partials/global-footer.twig" %}
  </div>
{% endblock bodyHtml %}
