{% extends "_boilerplate/_layouts/layout-base.twig" %}

{# >>> Render favicons #}
{% block blockHeadFavicons %}
  {{ include('_layouts/_partials/favicons/favicons-default.twig', {}, withContext = true) }}
{% endblock blockHeadFavicons %}

{# >>> Render block head fonts #}
{% block blockHeadFonts %}
  {{ include('_layouts/_partials/fonts/fonts-default-preloading.twig', {}, withContext = true) }}
{% endblock blockHeadFonts %}

{# >>> Render block app body #}
{% block blockAppBody %}
  <div id="appWrapper" class="overflow-hidden">

    {# >>> Render app header #}
    {{ include('_components/header/header.twig', {}, withContext = false) }}

    <main id="appContent">
      {# >>> Render block app content #}
      {% block blockAppContent %}
      {% endblock %}
    </main>

    {# >>> Render app fooeter #}
    {{ include('_components/footer/footer.twig', {}, withContext = false) }}
  </div>
{% endblock blockAppBody %}
