/*
 |--------------------------------------------------------------------------
 |  paginationSimple
 |--------------------------------------------------------------------------
 */


.c-paginationSimple__item--next {
  margin-left: auto;
}

.c-paginationSimple__link {
  display: block;
  position: relative;
  color: var(--c-gray-500);
  border: 1px solid var(--c-gray-200);
  padding-top: s(2);
  padding-bottom: s(2);
}

.c-paginationSimple__link:hover {
  border-color: var(--c-gray-300);
  color: var(--c-gray-900);
}

.c-paginationSimple__link:hover  .c-paginationSimple__icon svg path {
  fill: var(--c-gray-500);
}

.c-paginationSimple--prev {
  padding-left: s(9);
  text-align: left;
}

.c-paginationSimple--next {
  padding-right: s(9);
  text-align: right;
}


.c-paginationSimple__icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 50%;

  svg {
    width: 24px;
    height: 24px;
  }

  svg path {
    fill: var(--c-gray-300);
    transition: all 250ms var(--ease-out-cubic);
  }

  .c-paginationSimple--prev {
    left: 50%;
    transform: translate(-50%, -50%);

    @include media('>=s') {
      left: s(3);
      transform: translateY(-50%);
    }
  }

  .c-paginationSimple--next {
    right: 50%;
    transform: translate(50%, -50%);

    @include media('>=s') {
      right: s(3);
      transform: translateY(-50%);
    }
  }
}

.c-paginationSimple__title {
  display: none;

  @include media('>=s') {
    display: block;
  }
}
