/*
 |--------------------------------------------------------------------------
 |  Language Switcher
 |--------------------------------------------------------------------------
 */

.m-languageSwitcher {
  &__list {
    /* empty */
  }

  &__item {
    /* empty */
  }

  &__link {
    /* empty */
  }
}
