/*
 * Include Partials
 */

@import '01-settings/settings.colors.pcss';
@import '01-settings/settings.border-radius.pcss';
@import '01-settings/settings.borders.pcss';
@import '01-settings/settings.box-shadows.pcss';
@import '01-settings/settings.breakpoints.pcss';
@import '01-settings/settings.easings.pcss';
@import '01-settings/settings.typography.pcss';
