// Include Partials
@import '03-generic/generic.modern-css-reset';
@import '03-generic/generic.global';
@import '03-generic/generic.typography';
@import '03-generic/generic.webfonts';
@import '03-generic/generic.waypoint-animations';
