/**
 * app.css
 *
 * The entry point for the css.
 *
 */

@import '01-settings.pcss';

@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import '02-tools.pcss';
@import '03-generic.pcss';
@import '04-elements.pcss';
@import '05-objects.pcss';
@import '06-components.pcss';
@import '07-vendors.pcss';

@import 'tailwindcss/utilities';

