/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@import "tailwindcss/base";

/**
 * Here we add custom base styles, applied after the tailwind-base
 * classes
 *
 */
@import "./base/global.css";
@import "./base/lazy.css";
@import "./base/typography.css";

/**
 * This injects any component classes registered by plugins.
 *
 */
@import "tailwindcss/components";

/**
 * Here we add custom component classes; stuff we want loaded
 * *before* the utilities so that the utilities can still
 * override them.
 *
 */
@import "./components/transitions.css";
@import "../../templates/_components/text/text.css";
@import "../../templates/_components/grid/imagesCalculated.css";
@import "../../templates/_components/accordion/accordion.css";

/**
 * Include styles for individual pages
 *
 */
@import "./pages/homepage.css";

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 */
@import "tailwindcss/utilities";

/**
 * Here we add custom utility classes, applied after the tailwind-utilitie
 * classes
 *
 */

/**
 * Include vendor css.
 *
 */

@import "vendors/formie.css";
