/*
 * Typography
 */

$font-family-headline: 'Merriweather', Georgia 'Times New Roman', Times, serif;
$font-family-body: 'Lato', Helvetica, Arial, sans-serif;
$font-family-mono: 'Roboto Mono', 'Courier New', Courier, monospace;
$base-line-height: 1.5;
$base-line-height-headings: 1.2;

:root {
  --ff-headline: $font-family-headline;
  --ff-body: $font-family-body;
  --ff-mono: $font-family-mono;

  --lh-base: $base-line-height;
  --lh-base-headings: $base-line-height-headings;
}

