/*
 * Typography
 */

:root {
  --ff-headline: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  --ff-body: 'Lato', Helvetica, Arial, sans-serif;
  --ff-mono: 'Roboto Mono', 'Courier New', Courier, monospace;

  --lh-base: 1.5;
  --lh-base-headings: 1.2;
}
