/*
 |--------------------------------------------------------------------------
 |  Font Sizes
 |--------------------------------------------------------------------------
 */
// Dependencies
@import '~modularscale-sass/stylesheets/modularscale';
@import '~baukasten-grid/scss/variables';

// Settings
$bk-baseFontSizePx: 18px;
$bk-baseFontSizeMaxPx: 22px;

// Modular Scale Settings
$modularscale: (
  base: $bk-baseFontSizePx,
  ratio: $major-second,
  $bk-minWidth: (
    base: $bk-baseFontSizePx,
    ratio: $major-second,
  ),
  $bk-maxWidth: (
    base: $bk-baseFontSizeMaxPx,
    ratio: $major-third,
  )
);

// MS Mixin
@mixin ms($args...) {
  @include ms-respond(font-size, $args...);
}

