/*
 * Colors
 */

:root {
  --c-black: #000;
  --c-white: #fff;
  --c-gray: #A0AEC0;
  --c-gray-100: #F7FAFC;
  --c-gray-200: #EDF2F7;
  --c-gray-300: #E2E8F0;
  --c-gray-400: #CBD5E0;
  --c-gray-500: #A0AEC0;
  --c-gray-600: #718096;
  --c-gray-700: #4A5568;
  --c-gray-800: #2D3748;
  --c-gray-900: #1A202C;

  --c-red: #F56565;
  --c-red-100: #FFF5F5;
  --c-red-200: #FED7D7;
  --c-red-300: #FEB2B2;
  --c-red-400: #FC8181;
  --c-red-500: #F56565;
  --c-red-600: #E53E3E;
  --c-red-700: #C53030;
  --c-red-800: #9B2C2C;
  --c-red-900: #742A2A;

  --c-green: #48BB78;
  --c-green-100: #F0FFF4;
  --c-green-200: #C6F6D5;
  --c-green-300: #9AE6B4;
  --c-green-400: #68D391;
  --c-green-500: #48BB78;
  --c-green-600: #38A169;
  --c-green-700: #2F855A;
  --c-green-800: #276749;
  --c-green-900: #22543D;

  --c-blue: #4299E1;
  --c-blue-100: #EBF8FF;
  --c-blue-200: #BEE3F8;
  --c-blue-300: #90CDF4;
  --c-blue-400: #63B3ED;
  --c-blue-500: #4299E1;
  --c-blue-600: #3182CE;
  --c-blue-700: #2B6CB0;
  --c-blue-800: #2C5282;
  --c-blue-900: #2A4365;
}
