// Border Radius
@import '../02-tools/tools.mixin.create-css-vars';

$border-radius: (
  '0': '0',
  '3': '3px',
  '5': '5px',
  '10': '10px',
  '25': '25px',
  '50': '50px',
);

:root {
  // Create Colors
  @include createCSSVars($border-radius, 'br');
}
