{% extends "_layouts/patternlib-page-layout.twig" %}
{% set images = craft.assets().kind('image').volume('images').limit(10).all() %}

{% block content %}
  {% cache using key craft.app.request.pathInfo %}
  <div class="{{ config.styles.compItem }}">
    <label class="{{ config.styles.compLabel }}">Gallery Images</label>

    <div class="{{ config.styles.compItemVariant }}">
      {# imageRaw #}
      {% include '_components/gallery/images.twig' with {
        props: {
          customClasses: 'w-full',
          images: images ??? null,
        }
      } only %}
    </div>
  </div>
  {% endcache %}
{% endblock %}



