{# Global Stuff #}
{% set placeholderImage = craft.assets.title('Placeholder').volume('templateImages').one() %}
{% set cat01Image = craft.assets.title('Cat 01').volume('templateImages').one() %}
{% set cat02Image = craft.assets.title('Cat 02').volume('templateImages').one() %}
{% set cat03Image = craft.assets.title('Cat 03').volume('templateImages').one() %}
{% set cat04Image = craft.assets.title('Cat 04').volume('templateImages').one() %}
<div id="home"></div>
<div class="l-container">
  <h3>Layout Components</h3>
</div>


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<div class="l-container">
  <pre class="mt-4 mb-2" id="section">_components/_layout/section</pre>
</div>

<div class="l-section l-section--lightgray l-section--visible mt-1"></div>
<div class="l-section l-section--visible mt-1"></div>


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<div class="l-container">
  <pre class="mt-4 mb-2" id="container">_components/_layout/container</pre>
</div>
<div class="l-container l-container--max l-container--visible mt-1"></div>
<div class="l-container l-container--large l-container--visible mt-1"></div>
<div class="l-container l-container--medium l-container--visible mt-1"></div>


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<div class="l-container">
  <pre class="mt-4 mb-2" id="row">_components/_layout/row</pre>
</div>
<div class="l-container">
  <div class="l-row l-row--visible mt-1"></div>
</div>


<div class="l-container">
  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="spacer">_components/_layout/spacer</pre>
  {# spacer #}
  {% include '_components/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['40', 'visible']
    }
  } only %}

  {% include '_components/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['80', 'visible']
    }
  } only %}

  {% include '_components/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['120', 'visible']
    }
  } only %}

  {% include '_components/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['160', 'visible']
    }
  } only %}

  {% include '_components/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['240', 'visible']
    }
  } only %}
</div>


<div class="l-container">
  <h3 class="mt-4">Design Components</h3>
  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="caption">_components/caption</pre>
  {# caption #}
  {% include '_components/caption/caption.twig' with {
    props: {
      headline: 'The quick brown fox jumps over the lazy dogs',
      text: 'Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat ocurreret te, eos diceret accumsan in',
      source: 'Baukasten',
      sourceUrl: siteUrl,
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="card">_components/card</pre>
  {# card #}
  <div style="max-width: 400px;">
    {% include '_components/card/card.twig' with {
      props: {
        image: placeholderImage ??? null,
        imageRatio: 'landscape',
        headline: 'The quick brown fox jumps over the lazy dogs',
        copy: 'Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo.',
        linkUrl: siteUrl,
        linkText: null
      }
    } only %}
  </div>


  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="code">_components/code</pre>
  {# code #}
  {% include '_components/code/code.twig' with {
    props: {
      snippet: "code[class*='language-'],
pre[class*='language-'] {
  color: #f8f8f2;
  tab-size: 4;
  hyphens: none;
}",
      language: 'scss'
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="definitionList">_components/definitionList</pre>
  {# definitionList #}
  {% include '_components/definitionList/definitionList.twig' with {
    props: {
      image: placeholderImage ??? null,
      items: [
        { term: 'Definition Term', description: 'The quick brown fox jumps over the lazy dogs'},
        { term: 'John Wayne', description: 'Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat ocurreret te, eos diceret accumsan in?'},
        { term: 'Lorem Ipsum ', description: 'Quick brown fox jumps over the lazy dogs'},
        { term: 'Definition Term', description: 'The quick brown fox jumps over the lazy dogs'},
        { term: 'John Wayne', description: 'Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat ocurreret te, eos diceret accumsan in?'},
      ]
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="divider">_components/divider</pre>
  {# divider #}
  <div class="l-container">
    {% include '_components/divider/divider.twig' only %}
    {% include '_components/divider/divider.twig' with {
      props: {
        modifiers: ['medium']
      }
    } only %}
    {% include '_components/divider/divider.twig' with {
      props: {
        modifiers: ['narrow']
      }
    } only %}
  </div>


  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="figure">_components/figure</pre>
  {# figure #}
  {% include '_components/figure/figure.twig' with {
    props: {
      image: placeholderImage ??? null,
      caption: true,
      captionHeadline: 'The quick brown fox jumps over the lazy dogs',
      captionText: 'Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat ocurreret te, eos diceret accumsan in.',
      captionSource: 'Baukasten',
      captionSourceUrl: siteUrl,
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="image">_components/image</pre>
  {# image #}
  {% include '_components/image/image.twig' with {
    props: {
      image: placeholderImage ??? null,
      ratio: 'landscape'
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="imageRaw">_components/imageRaw</pre>
  {# imageRaw #}
  {% include '_components/image/imageRaw.twig' with {
    props: {
      image: placeholderImage ??? null,
      ratio: 'landscape'
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="imageCover">_components/imageCover</pre>
  {# image #}
  {% include '_components/imageCover/imageCover.twig' with {
    props: {
      image: placeholderImage ??? null,
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="imageGallery">_components/imageGallery</pre>
  {# imageGallery #}
  {% include '_components/imageGallery/imageGallery.twig' with {
    props: {
      images: [placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null]
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="imageGrid">_components/imageGrid</pre>
  {# imageGrid #}
  {% include '_components/imageGrid/imageGrid.twig' with {
    props: {
      images: [placeholderImage ??? null],
      ratio: 'landscape'
    }
  } only %}

  {# Spacer #}
  {% include '_components/_layout/spacer/spacer.twig' with {
    props: {
      modifiers: ['40']
    }
  } only %}

  {% include '_components/imageGrid/imageGrid.twig' with {
    props: {
      modifiers: ['2'],
      images: [placeholderImage ??? null, cat03Image ??? null],
      ratio: 'portrait'
    }
  } only %}

  {# Spacer #}
  {% include '_components/_layout/spacer/spacer.twig' with {
    props: {
      modifiers: ['40']
    }
  } only %}

  {% include '_components/imageGrid/imageGrid.twig' with {
    props: {
      modifiers: ['3'],
      images: [placeholderImage ??? null, cat01Image ??? null, cat03Image ??? null],
      ratio: 'portrait'
    }
  } only %}

  {# Spacer #}
  {% include '_components/_layout/spacer/spacer.twig' with {
    props: {
      modifiers: ['40']
    }
  } only %}

  {% include '_components/imageGrid/imageGridCalculated.twig' with {
    props: {
      images: [placeholderImage ??? null, cat01Image ??? null],
    }
  } only %}

  {# Spacer #}
  {% include '_components/_layout/spacer/spacer.twig' with {
    props: {
      modifiers: ['40']
    }
  } only %}

  {% include '_components/imageGrid/imageGridCalculated.twig' with {
    props: {
      images: [placeholderImage ??? null, cat01Image ??? null, cat03Image ??? null],
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="imageSingle">_components/imageSingle</pre>
  {# imageSingle #}
  {% include '_components/imageSingle/imageSingle.twig' with {
    props: {
      image: placeholderImage ??? null,
      ratio: 'landscape'
    }
  } only %}

  {% include '_components/imageSingle/imageSingle.twig' with {
    props: {
      modifiers: ['medium'],
      customClasses: ['mt-2'],
      image: placeholderImage ??? null,
      ratio: 'landscape'
    }
  } only %}


  {% include '_components/imageSingle/imageSingle.twig' with {
    props: {
      modifiers: ['small'],
      customClasses: ['mt-2'],
      image: placeholderImage ??? null,
      ratio: 'landscape'
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="link">_components/link</pre>
  {# link #}
  {% include '_components/link/link.twig' with {
    props: {
      modifiers: ['primary'],
      url: 'https://davidhellmann.com',
      text: 'Primary Link'
    }
  } only %}

  {# link #}
  {% include '_components/link/link.twig' with {
    props: {
      modifiers: ['secondary'],
      customClasses: ['ml-1'],
      url: 'https://davidhellmann.com',
      text: 'Secondary Link'
    }
  } only %}

  {# link #}
  {% include '_components/link/link.twig' with {
    props: {
      modifiers: ['ghost'],
      customClasses: ['ml-1'],
      url: 'https://davidhellmann.com',
      text: 'Ghost Link'
    }
  } only %}

  {# link #}
  {% include '_components/link/link.twig' with {
    props: {
      modifiers: ['outlined'],
      customClasses: ['ml-1'],
      url: 'https://davidhellmann.com',
      text: 'Outlined Link'
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="linkIcon">_components/linkIcon</pre>
  {# linkIcon #}
  {% include '_components/link/linkIcon.twig' with {
    props: {
      modifiers: ['primary'],
      url: 'https://davidhellmann.com',
      text: 'Primary Link',
      icon: 'iconSample'
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="logo">_components/logo</pre>
  {# logo #}
  {% include '_components/logo/logo.twig' with {
    props: {}
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="plainText">_components/plainText</pre>
  {# plainText #}
  {% set plainText %}
    An populo iriure interesset sit! Eum quas zril nostrum ei. Est no esse illum, falli doming vix no? No pri causae petentium! Id vocibus volutpat deterruisset usu, vocibus verterem sed ne, usu ne similique temporibus!

    Ex vix dicat discere partiendo, at ignota corpora mei, posse percipitur mea ut. At doming commodo deseruisse sit, eu diceret fabulas eligendi vix, sea nostrum scriptorem ad! Quo cu eius tollit instructior.
  {% endset %}

  {% include '_components/plainText/plainText.twig' with {
    props: {
      text: plainText ??? null
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="quote">_components/quote</pre>
  {# quote #}
  {% include '_components/quote/quote.twig' with {
    props: {
      quote: 'The quick brown fox jumps over the lazy dogs',
      source: 'John Wayne',
      sourceSubline: 'Createtor of nichts',
      sourceUrl: siteUrl ??? null
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="slider">_components/slider</pre>
  {# slider #}
  {% include '_components/slider/sliderImages.twig' with {
    props: {
      images: [
        placeholderImage ??? null,
        cat01Image ??? null,
        placeholderImage ??? null,
        cat03Image ??? null,
        placeholderImage ??? null,
        cat02Image ??? null,
        cat04Image ??? null,
        placeholderImage ??? null
      ],
      ratio: 'portrait'
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="spinner">_components/spinner</pre>
  {# spinner #}
  <div style="position:relative; width: 100%; height: 48px; background-color: black;">
    {% include '_components/spinner/spinner.twig' with {
      props: {}
    } only %}
  </div>

  <div style="position:relative; width: 100%; height: 48px;">
    {% include '_components/spinner/spinner.twig' with {
      props: {
        modifiers: ['dark']
      }
    } only %}
  </div>


  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="youtube">_components/youtube</pre>
  {# youtube #}
  {% include '_components/youtube/youtube.twig' with {
    props: {
      videoId: 'bd4_PIxfMmQ'
    }
  } only %}
</div>


{# ============================================================== #}
{#                                                                #}
{#      DROPDOWN                                                  #}
{#                                                                #}
{# ============================================================== #}
<div id="selector">
  <select name="dropDown" id="dropDown">
    <option value="#home">Select Component</option>
    <option>LAYOUT</option>
    <option value="#section">- Section</option>
    <option value="#container">- Container</option>
    <option value="#row">- Row</option>
    <option value="#spacer">- Spacer</option>
    <option>COMPONENTS</option>
    <option value="#code">- Code</option>
    <option value="#caption">- Caption</option>
    <option value="#card">- Card</option>
    <option value="#definitionList">- Definition List</option>
    <option value="#divider">- Divider</option>
    <option value="#figure">- Figure</option>
    <option value="#image">- Image</option>
    <option value="#imageRaw">- Image Raw</option>
    <option value="#imageCover">- Image Cover</option>
    <option value="#imageGallery">- Image Gallery</option>
    <option value="#imageGrid">- Image Grid</option>
    <option value="#imageSingle">- Image Single</option>
    <option value="#link">- Link</option>
    <option value="#linkIcon">- Link Icon</option>
    <option value="#logo">- Logo</option>
    <option value="#plainText">- Plain Text</option>
    <option value="#quote">- Quote</option>
    <option value="#slider">- Slider Images</option>
    <option value="#spinner">- Spinner</option>
    <option value="#youtube">- Youtube</option>
  </select>
</div>

<script>
  var dropDownValue = document.getElementById("dropDown");

  dropDownValue.addEventListener('change', function () {
    window.location.href = this.value;
  });
</script>

<style>
  body {
    margin-bottom: 80px;
  }

  #selector {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    z-index: 999999;
  }

  #dropDown {
    width: 280px;
    font-size: 15px;
    padding: 0.5rem 1rem;
    -webkit-appearance: none;
  }
</style>
