{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/code</pre>
{# -- code -- #}
{% include '_atoms/code/_template.twig' with {
  opt: {
    variant: 'basic',
    snippet: "code[class*='language-'],
pre[class*='language-'] {
  color: #f8f8f2;
  tab-size: 4;
  hyphens: none;
}",
    language: 'scss'
  }
} only %}


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/cookieClue</pre>
<div class="relative w-full m:w-12/24" style="height: 0; padding-bottom: 50%;">
  {# -- cookieClue -- #}
  {% include '_atoms/cookieClue/_template.twig' with {
    opt: {
      variant: 'basic',
    }
  } only %}
</div>


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/divider</pre>
{# -- divider -- #}
{% include '_atoms/divider/_template.twig' with {
  opt: {
    variant: 'basic'
  }
} only %}

{% include '_atoms/divider/_template.twig' with {
  opt: {
    modifiers: ['medium'],
    variant: 'basic'
  }
} only %}

{% include '_atoms/divider/_template.twig' with {
  opt: {
    modifiers: ['narrow'],
    variant: 'basic'
  }
} only %}


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/headline</pre>
{# -- headline -- #}
<div class="stack-0.5" waypointTrigger>
  {% for i in 1..6 %}
    {% include '_atoms/headline/_template.twig' with {
      opt: {
        variant: 'basic',
        text: 'The quick brown fox jumps over the lazy dogs',
        size: 'h' ~ i
      }
    } only %}
  {% endfor %}
</div>


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/icon</pre>
{% set sizes = ['24', '32', '48', '64', '96'] %}
<div class="flex items-center flex-direction-row">
  {% for i in sizes %}
    {# -- icon -- #}
    {% include '_atoms/icon/_template.twig' with {
      opt: {
        modifiers: [i],
        variant: 'basic',
        icon: 'social/twitter'
      }
    } only %}
  {% endfor %}
</div>


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/image</pre>
{# -- image -- #}
{% include '_atoms/image/_template.twig' with {
  opt: {
    variant: 'basic',
    ratio: 'landscape'
  }
} only %}
<pre class="mt-4 mb-2">_atoms/image--raw</pre>
{# -- image -- #}
{% include '_atoms/image/_template.twig' with {
  opt: {
    variant: 'raw',
    ratio: 'landscape'
  }
} only %}


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/link</pre>
<div class="flex items-center flex-direction-row">
  {# -- link -- #}
  <div class="p-1">
    {% include '_atoms/link/_template.twig' with {
      opt: {
        variant: 'basic',
        text: 'Button',
        url: 'https://google.com',
      }
    } only %}
  </div>

  <div class="p-1">
    {% include '_atoms/link/_template.twig' with {
      opt: {
        modifiers: ['outlined'],
        variant: 'basic',
        text: 'Button',
        url: 'https://google.com',
      }
    } only %}
  </div>

  <div class="p-1">
    {% include '_atoms/link/_template.twig' with {
      opt: {
        variant: 'icon',
        icon: 'social/twitter',
        text: 'Button',
        url: 'https://google.com',
      }
    } only %}
  </div>

  <div class="p-1">
    {% include '_atoms/link/_template.twig' with {
      opt: {
        variant: 'inline',
        text: 'Button',
        url: 'https://google.com',
      }
    } only %}
  </div>
</div>


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/logo</pre>
{# -- logo -- #}
{% include '_atoms/logo/_template.twig' with {
  opt: {
    variant: 'basic',
    name: 'logo'
  }
} only %}


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/plainText</pre>
{# -- logo -- #}
{% include '_atoms/plainText/_template.twig' with {
  opt: {
    variant: 'basic',
    text: 'Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat ocurreret te, eos diceret accumsan in? Qui no viderer vivendum facilisi, pro illud possim legimus at. Illum sonet numquam id vis. Ei accumsan nominati eos? Nam suas admodum ancillae ne? Nullam noster scribentur per cu, te duis consetetur adipiscing pri? Mollis deseruisse te mei. Cu euismod singulis suavitate eam. Ex eos purto similique, an eum fabellas adolescens! Dolor signiferumque cum id. Dicunt cetero detracto mea ei? Ex dico dolor vis, splendide vituperatoribus cu usu, ei mea posse sonet labores! Ad duo veritus intellegam, alterum appellantur vix et. Vis dissentiet repudiandae eu, decore integre principes per ei. Id vim stet mentitum repudiandae, pri mentitum qualisque ea, ex usu augue viderer suscipit. Ea vel mucius graecis, mentitum perfecto eu duo, duo eu ipsum urbanitas. Eruditi recteque abhorreant ius et, omnes dolore debitis vel ei? An inani copiosae nec, audiam sanctus nostrum est ea? Assum iuvaret mea id.

An populo iriure interesset sit! Eum quas zril nostrum ei. Est no esse illum, falli doming vix no? No pri causae petentium! Id vocibus volutpat deterruisset usu, vocibus verterem sed ne, usu ne similique temporibus! Ex vix dicat discere partiendo, at ignota corpora mei, posse percipitur mea ut. At doming commodo deseruisse sit, eu diceret fabulas eligendi vix, sea nostrum scriptorem ad! Quo cu eius tollit instructior.'
  }
} only %}


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/richText</pre>
{# -- logo -- #}
{% include '_atoms/richText/_template.twig' with {
  opt: {
    variant: 'basic',
    text: '<h2>The quick brown fox jumps over the lazy dogs</h2>
    <p>Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat ocurreret te, eos diceret accumsan in? Qui no viderer vivendum facilisi, pro illud possim legimus at. Illum sonet numquam id vis. Ei accumsan nominati eos? Nam suas admodum ancillae ne? Nullam noster scribentur per cu, te duis consetetur adipiscing pri? Mollis deseruisse te mei. Cu euismod singulis suavitate eam. Ex eos purto similique, an eum fabellas adolescens! Dolor signiferumque cum id. Dicunt cetero detracto mea ei? Ex dico dolor vis, splendide vituperatoribus cu usu, ei mea posse sonet labores! Ad duo veritus intellegam, alterum appellantur vix et. Vis dissentiet repudiandae eu, decore integre principes per ei. Id vim stet mentitum repudiandae, pri mentitum qualisque ea, ex usu augue viderer suscipit. Ea vel mucius graecis, mentitum perfecto eu duo, duo eu ipsum urbanitas. Eruditi recteque abhorreant ius et, omnes dolore debitis vel ei? An inani copiosae nec, audiam sanctus nostrum est ea? Assum iuvaret mea id.
</p><p>
An populo iriure interesset sit! Eum quas zril nostrum ei. Est no esse illum, falli doming vix no? No pri causae petentium! Id vocibus volutpat deterruisset usu, vocibus verterem sed ne, usu ne similique temporibus! Ex vix dicat discere partiendo, at ignota corpora mei, posse percipitur mea ut. At doming commodo deseruisse sit, eu diceret fabulas eligendi vix, sea nostrum scriptorem ad! Quo cu eius tollit instructior.</p>'
  }
} only %}


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/spinner</pre>
<div class="relative w-80px h-80px">
  {# -- logo -- #}
  {% include '_atoms/spinner/_template.twig' with {
    opt: {
      variant: 'basic',
    }
  } only %}
</div>


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/youtube</pre>
{# -- logo -- #}
{% include '_atoms/youtube/_template.twig' with {
  opt: {
    variant: 'basic',
    videoId: '2kVmvORQp4s',
    autoplay: 0,
    loop: 0,
    showinfo: 0,
  }
} only %}









