{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/code</pre>
{# -- code -- #}
{% include '_atoms/code/_template.twig' with {
  opt: {
    variant: 'basic',
    snippet: "code[class*='language-'],
pre[class*='language-'] {
  color: #f8f8f2;
  tab-size: 4;
  hyphens: none;
}",
    language: 'scss'
  }
} only %}


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/divider</pre>
{# -- divider -- #}
{% include '_atoms/divider/_template.twig' with {
  opt: {
    variant: 'basic'
  }
} only %}

{% include '_atoms/divider/_template.twig' with {
  opt: {
    modifiers: ['medium'],
    variant: 'basic'
  }
} only %}

{% include '_atoms/divider/_template.twig' with {
  opt: {
    modifiers: ['narrow'],
    variant: 'basic'
  }
} only %}


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/headline</pre>
{# -- headline -- #}
<div class="stack-0.5" waypointTrigger>
  {% for i in 1..6 %}
    {% include '_atoms/headline/_template.twig' with {
      opt: {
        variant: 'basic',
        text: 'The quick brown fox jumps over the lazy dogs',
        size: 'h' ~ i
      }
    } only %}
  {% endfor %}
</div>


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<pre class="mt-4 mb-2">_atoms/icon</pre>
{% set sizes = ['24', '32', '48', '64', '96'] %}

<div class="flex items-center flex-direction-row">
  {% for i in sizes %}
    {# -- icon -- #}
    {% include '_atoms/icon/_template.twig' with {
      opt: {
        modifiers: [i],
        variant: 'basic',
        icon: 'social/twitter'
      }
    } only %}
  {% endfor %}
</div>




