{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<h4>
  <pre>_atoms/code</pre>
</h4>
{# -- code -- #}
{% include '_atoms/code/_template.twig' with {
  opt: {
    variant: 'basic',
    snippet: "code[class*='language-'],
pre[class*='language-'] {
  color: #f8f8f2;
  tab-size: 4;
  hyphens: none;
}",
    language: 'scss'
  }
} only %}


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<h4>
  <pre>_atoms/divider</pre>
</h4>
{# -- divider -- #}
{% include '_atoms/divider/_template.twig' with {
  opt: {
    variant: 'basic'
  }
} only %}

{% include '_atoms/divider/_template.twig' with {
  opt: {
    modifiers: ['medium'],
    variant: 'basic'
  }
} only %}

{% include '_atoms/divider/_template.twig' with {
  opt: {
    modifiers: ['narrow'],
    variant: 'basic'
  }
} only %}


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<h4>
  <pre>_atoms/headline</pre>
</h4>
{# -- headline -- #}
<div waypointTrigger>
  {% include '_atoms/headline/_template.twig' with {
    opt: {
      variant: 'basic',
      text: 'The quick brown fox jumps over the lazy dogs'
    }
  } only %}
</div>





