{% extends "_layouts/generic-page-layout.twig" %}
{% set appClass = 'p-home' %}

{% block headLinks %}
  {{ parent() }}
{% endblock headLinks %}

{# Critical CSS #}
{% block inlineCriticalCss %}
  <style>
    {{ craft.twigpack.includeFile('@webroot/dist/criticalcss/' ~ _self ~  '_critical.min.css') }}
  </style>
{% endblock %}

{% block content %}
  <section class="py-2" style="background-color: var(--c-red); color: var(--c-white); text-align: center">
    <div class="l-container">
      <h1>Component Library</h1>
    </div>
  </section>
  <section class="py-4">
    {% include '_dev_modules.twig' %}
  </section>
{% endblock %}

{% block subcontent %}

{% endblock %}

{# Any JavaScript that should be included before </body> #}
{% block bodyJs %}
  {{ parent() }}
{% endblock bodyJs %}
