{% extends "_layouts/generic-page-layout.twig" %}
{% set bodyClass = 'p-home' %}

{% block headLinks %}
  {{ parent() }}
{% endblock headLinks %}

{# Critical CSS #}
{% block inlineCriticalCss %}
  <style>
    {{ craft.twigpack.includeFile('@webroot/dist/criticalcss/' ~ _self ~  '_critical.min.css') }}
  </style>
{% endblock %}

{% block content %}
  <section class="bg-black text-white py-2">
    <div class="container">
      <h1>Block Content</h1>
    </div>
  </section>
{% endblock %}

{% block subcontent %}
  <section class="bg-gray-100 text-gray-900 py-2">
    <div class="container">
      <h2>Block Subcontent</h2>
    </div>
  </section>

  <section class="section  py-2">
    <div class="container">
      {% include '_dev_modules.twig' %}
    </div>
  </section>

  <div class="container">
    <div class="row">
      <p class="px-2 w-3/6">
        The quick brown fox jumps over the lazy dogs
      </p>
      <p class="px-2 w-3/6">
        The quick brown fox jumps over the lazy dogs
      </p>
    </div>
  </div>
{% endblock %}

{# Any JavaScript that should be included before </body> #}
{% block bodyJs %}
  {{ parent() }}
{% endblock bodyJs %}
