{% extends "_layouts/layout-default.twig" %}

{% block blockAppContent %}
  {% cache %}
    {% minify %}
      <div class="container py-16">
        <h1 class="text-xl">Oh, hey!</h1>
        {# link #}
        {{ include('_components/button/button.twig', {
          data: {
            url: '/hidden/patternlib',
            text: 'Pattern Library'
          },
          classes: {
            custom: 'mt-4'
          }
        }, withContext = false) }}
      </div>
    {% endminify %}
  {% endcache %}
{% endblock %}
