{% extends "_layouts/generic-page-layout.twig" %}

{% block headLinks %}
  {{ parent() }}
{% endblock headLinks %}

{# Critical CSS #}
{% block inlineCriticalCss %}
  <style>
    {{ craft.twigpack.includeFile('@webroot/dist/criticalcss/' ~ _self ~  '_critical.min.css') }}
  </style>
{% endblock %}

{% block content %}
  <section class="bg-black text-white py-2">
    <div class="l-container">
      <h1>Block Content</h1>
    </div>
  </section>
{% endblock %}

{% block subcontent %}
  <section class="bg-gray-100 text-gray-900 py-2">
    <div class="l-container">
      <h2>Block Subcontent</h2>
      {# link #}
      {% include '_components/link/link.twig' with {
        props: {
          modifiers: ['primary'],
          customClasses: ['mt-1'],
          url: '/component-library',
          text: 'Component Library'
        }
      } only %}
    </div>
  </section>
{% endblock %}

{# Any JavaScript that should be included before </body> #}
{% block bodyJs %}
  {{ parent() }}
{% endblock bodyJs %}
