{% extends "_layouts/layout-default.twig" %}

{% block blockAppContent %}
  {% cache %}
    {% minify %}
      <div class="container py-10">
        {# Vue Example Comp #}button
        <div id="dummyComp"></div>
      </div>

      <section class="bg-black text-white py-2">
        <div class="container">
          <h1>Block App Content</h1>
          {# link #}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/dev/patternlib',
              text: 'Component Library'
            },
          } only %}
        </div>
      </section>
    {% endminify %}
  {% endcache %}
{% endblock %}
