{% extends "_layouts/generic-page-layout.twig" %}
{% set bodyClass = 'p-home' %}

{% block headLinks %}
  {{ parent() }}
{% endblock headLinks %}

{% block content %}
  <section class="bg-black c-white py-2--fluid">
    <div class="container">
      <h1>Block Content</h1>
    </div>
  </section>
{% endblock %}

{% block subcontent %}
  <section class="bg-gray-100 c-gray-900 py-2--fluid">
    <div class="container">
      <h2>Block Subcontent</h2>
    </div>
  </section>

  <section class="section  py-2--fluid">
    <div class="container">
      {% include '_dev_modules.twig' %}
    </div>
  </section>

{% endblock %}


{# Any JavaScript that should be included before </body> #}
{% block bodyJs %}
  {{ parent() }}
{% endblock bodyJs %}
