{% extends "_layouts/layout-default.twig" %}

{% block blockAppContent %}
  {% cache %}
    {% minify %}
      <section class="bg-black text-white py-2">
        <div class="container">
          <h1>Block App Content</h1>
          {# link #}
          {% include '_components/button/button.twig' with {
            data: {
              url: '/hidden/patternlib',
              text: 'Component Library'
            },
          } only %}
        </div>
      </section>
    {% endminify %}
  {% endcache %}
{% endblock %}
