{% extends "_layouts/generic-page-layout.twig" %}

{% block headLinks %}
  {{ parent() }}
{% endblock headLinks %}

{% block content %}
  <section class="a-image w-screen min:w-1/6  max:w-1/3  c-black bg-black c-white">
    <h1>content</h1>
    <a onClick="klaro.show();return false;">manage your consents</a>

  </section>
{% endblock %}

{% block subcontent %}
  <section>
    <h2>subcontent</h2>
    <p>Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat
      ocurreret te, eos diceret accumsan in? Qui no viderer vivendum facilisi, pro illud possim legimus at. Illum sonet
      numquam id vis. Ei accumsan nominati eos? Nam suas admodum ancillae ne? Nullam noster scribentur per cu, te duis
      consetetur adipiscing pri? Mollis deseruisse te mei. Cu euismod singulis suavitate eam. Ex eos purto similique, an
      eum fabellas adolescens! Dolor signiferumque cum id. Dicunt cetero detracto mea ei? Ex dico dolor vis, splendide
      vituperatoribus cu usu, ei mea posse sonet labores! Ad duo veritus intellegam, alterum appellantur vix et. Vis
      dissentiet repudiandae eu, decore integre principes per ei. Id vim stet mentitum repudiandae, pri mentitum
      qualisque ea, ex usu augue viderer suscipit. Ea vel mucius graecis, mentitum perfecto eu duo, duo eu ipsum
      urbanitas. Eruditi recteque abhorreant ius et, omnes dolore debitis vel ei? An inani copiosae nec, audiam sanctus
      nostrum est ea? Assum iuvaret mea id.
    </p>
    <p>Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat
      ocurreret te, eos diceret accumsan in? Qui no viderer vivendum facilisi, pro illud possim legimus at. Illum sonet
      numquam id vis. Ei accumsan nominati eos? Nam suas admodum ancillae ne? Nullam noster scribentur per cu, te duis
      consetetur adipiscing pri? Mollis deseruisse te mei. Cu euismod singulis suavitate eam. Ex eos purto similique, an
      eum fabellas adolescens! Dolor signiferumque cum id. Dicunt cetero detracto mea ei? Ex dico dolor vis, splendide
      vituperatoribus cu usu, ei mea posse sonet labores! Ad duo veritus intellegam, alterum appellantur vix et. Vis
      dissentiet repudiandae eu, decore integre principes per ei. Id vim stet mentitum repudiandae, pri mentitum
      qualisque ea, ex usu augue viderer suscipit. Ea vel mucius graecis, mentitum perfecto eu duo, duo eu ipsum
      urbanitas. Eruditi recteque abhorreant ius et, omnes dolore debitis vel ei? An inani copiosae nec, audiam sanctus
      nostrum est ea? Assum iuvaret mea id.
    </p>
    <p>
      An populo iriure interesset sit! Eum quas zril nostrum ei. Est no esse illum, falli doming vix no? No pri causae
      petentium! Id vocibus volutpat deterruisset usu, vocibus verterem sed ne, usu ne similique temporibus! Ex vix
      dicat discere partiendo, at ignota corpora mei, posse percipitur mea ut. At doming commodo deseruisse sit, eu
      diceret fabulas eligendi vix, sea nostrum scriptorem ad! Quo cu eius tollit instructior.</p>
    <pre>
      <code>
        .sr-only {
          border: 0 !important;
          clip: rect(0 0 0 0) !important;
          height: 1px !important;
          margin: -1px !important;
          overflow: hidden !important;
          padding: 0 !important;
          position: absolute !important;
          width: 1px !important;
        }
      </code>
    </pre>


    {% set klaro = getCookie('klaro') | json_decode %}
    <div type="opt-in" data-name="youtube"></div>

    {% if klaro and klaro.youtube %}
      <iframe width="560"
              height="315"
              class="lazyload"
              data-src="https://www.youtube.com/embed/u8SEv6WVsuE"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    {% endif %}

    <iframe width="560"
            height="315"
            class="lazyload"
            data-src="https://www.youtube-nocookie.com/embed/u8SEv6WVsuE"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </section>
{% endblock %}

{# Any JavaScript that should be included before </body> #}
  {% block bodyJs %}
    {{ parent() }}
  {% endblock bodyJs %}
