{% extends "_layouts/generic-page-layout.twig" %}
{% set bodyClass = 'p-home' %}

{% block headLinks %}
  {{ parent() }}
{% endblock headLinks %}

{# Critical CSS #}
{% block inlineCriticalCss %}
  <style>
    {{ craft.twigpack.includeFile('@webroot/dist/criticalcss/' ~ _self ~  '_critical.min.css') }}
  </style>
{% endblock %}

{% block content %}
  <section class="bg-black text-white py-2">
    <div class="container">
      <h1>Welcome. Some components, enjoy!</h1>
    </div>
  </section>
  <section class="section  py-2">
    <div class="container">
      {% include '_dev_modules.twig' %}
    </div>
  </section>
{% endblock %}

{% block subcontent %}

{% endblock %}

{# Any JavaScript that should be included before </body> #}
{% block bodyJs %}
  {{ parent() }}
{% endblock bodyJs %}
