{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-stackNews',
    headline: null,
    items:  null,
    noLazyImageLoadingCount: null
  },
  classes: {
    root: 'grid grid-cols-1 lg:grid-cols-3 lg:gap-12',
    custom: '',
  },
} %}

{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Modul #}
{% if props.data.items ??? null %}
  <div class="{{ props.data.name }} {{ props.classes.root }}  {{ props.classes.custom }}">
    {% for item in props.items %}
      {{ include('_components/card/cardNews.twig', {
        props: {
          image: item.entryImage[0] ??? null,
          date: item.postDate|date("M Y") ??? null,
          title: item.entryCustomTitleOverwrite ??? item.title ??? null,
          url: item.url ??? null,
          lazy: loop.index > props.data.noLazyImageLoadingCount
        }
      }, withContext = false) }}
    {% endfor %}
  </div>
{% endif %}
