/*
 |--------------------------------------------------------------------------
 |
 | Description of what this file is for
 |
 | @package Baukasten
 | @author David Hellmann [davidhellmann.com@gmail.com]
 | .o-imageCover
 |--------------------------------------------------------------------------
 */

// Modul
.o-imageCover {
  $root: &;
  @include vr();
  width: 100vw;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &__text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    @include f(s(2), s(4), padding);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-image: linear-gradient(to top, rgba(var(--c-black), 0.25), transparent);
    }
  }

  .m-figure {
    display: flex;
  }

  .m-figure__figure {
    margin-top: 0;
    height: auto;
    width: 100vw;
  }

  .a-image {
    height: auto;
    width: 100vw;
  }

  .a-image__image {
    height: auto;
    width: 100vw;
  }
}

// Modul Modifiers Example
.o-imageCover--c-white {
  color: c('white');
}

.o-imageCover--c-black {
  color: var(--c-black);

  .o-imageCover__text {
    &::before {
      display: none;
    }
  }
}

.o-imageCover--a-left {
  .o-imageCover__text {
    align-items: flex-start;
  }
}

.o-imageCover--a-center {
  .o-imageCover__text {
    align-items: center;
  }
}

.o-imageCover--a-right {
  .o-imageCover__text {
    align-items: flex-end;
  }
}


.o-imageCover--v-bottom {
  .o-imageCover__text {
    justify-content: flex-end;
  }
}

.o-imageCover--v-center {
  .o-imageCover__text {
    justify-content: center;

    &::before {
      display: none;
    }
  }
}

.o-imageCover--v-top {
  .o-imageCover__text {
    justify-content: flex-start;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-image: linear-gradient(to bottom, rgba(var(--c-black), 0.25), transparent);
    }
  }
}

