/*
 |--------------------------------------------------------------------------
 |  .a-headline-basic
 |--------------------------------------------------------------------------
 */


.a-headline-basic {
  //
}
