{#
  o-section
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-section',
  modifiers: [],
  customClasses: ['section'],
  closetags: true
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Tailwind Magic #}
{% switch props.twClassSet %}
{% case "caseA" %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss:  #}

{% default %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss: custuom classes here as string #}
{% endswitch %}

{# Modul #}
{# Include Variant #}
<section {{ module.settings(props, twClasses.root) }}>
  <div class="container">
    {% block sectionContent %}{% endblock %}
    {% if props.closetags %}
  </div>
</section>
{% endif %}
