{#
  o-section
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-section',
  modifiers: [],
  customClasses: ['section'],
  closetags: true,
  variant: 'basic'
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{# Include Variant #}
<section {{ module.settings(props) }}>
  <div class="container">
    {% block sectionContent %}{% endblock %}
    {% if props.closetags %}
  </div>
</section>
{% endif %}
