{#
  o-section
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-section',
  modifiers: [],
  customClasses: ['section'],
  closetags: true
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Baukasten:Minimal #}
{% if props.theme %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Custom Styling #}
{% if not props.theme %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Modul #}
{# Include Variant #}
<section {{ module.settings(props, twClasses.root) }}>
  <div class="container">
    {% block sectionContent %}{% endblock %}
    {% if props.closetags %}
  </div>
</section>
{% endif %}
