{# Global Stuff #}
{% set placeholderImage = craft.assets.title('Placeholder').volume('images').one() %}
{% set cat01Image = craft.assets.title('Cat 01').volume('templateImages').one() %}
{% set cat02Image = craft.assets.title('Cat 02').volume('templateImages').one() %}
{% set cat03Image = craft.assets.title('Cat 03').volume('templateImages').one() %}
{% set cat04Image = craft.assets.title('Cat 04').volume('templateImages').one() %}
<div id="home"></div>
<div class="l-container">
  <h3>Layout Elements</h3>
</div>


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<div class="l-container">
  <pre class="mt-4 mb-2" id="section">_elements/_layout/section</pre>
</div>

<div class="l-section l-section--lightgray l-section--visible mt-1"></div>
<div class="l-section l-section--visible mt-1"></div>


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<div class="l-container">
  <pre class="mt-4 mb-2" id="container">_elements/_layout/container</pre>
</div>
<div class="l-container l-container--fluid l-container--visible mt-1"></div>
<div class="l-container l-container--max l-container--visible mt-1"></div>
<div class="l-container l-container--l l-container--visible mt-1"></div>
<div class="l-container l-container--m l-container--visible mt-1"></div>
<div class="l-container l-container--s l-container--visible mt-1"></div>
<div class="l-container l-container--min l-container--visible mt-1"></div>


{# ============================================================== #}
{#                                                                #}
{#      SEPERATOR                                                 #}
{#                                                                #}
{# ============================================================== #}
<div class="l-container">
  <pre class="mt-4 mb-2" id="row">_elements/_layout/row</pre>
</div>
<div class="l-container">
  <div class="l-row l-row--visible mt-1"></div>
</div>


<div class="l-container">
  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="spacer">_elements/_layout/spacer</pre>
  {# spacer #}
  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['2', 'visible']
    }
  } only %}

  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['4', 'visible']
    }
  } only %}

  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['6', 'visible']
    }
  } only %}

  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['8', 'visible']
    }
  } only %}

  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['10', 'visible']
    }
  } only %}

  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['12', 'visible']
    }
  } only %}

  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['14', 'visible']
    }
  } only %}

  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['16', 'visible']
    }
  } only %}

  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['18', 'visible']
    }
  } only %}

  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      customClasses: ['mt-1'],
      modifiers: ['20', 'visible']
    }
  } only %}
</div>



<div class="l-container">
  <h3 class="mt-4">Elements</h3>
  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="divider">_elements/divider</pre>
  {# divider #}
  <div class="l-container">
    {% include '_elements/divider/divider.twig' only %}
    {% include '_elements/divider/divider.twig' with {
      props: {
        modifiers: ['medium']
      }
    } only %}
    {% include '_elements/divider/divider.twig' with {
      props: {
        modifiers: ['narrow']
      }
    } only %}
  </div>



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="image/picture">_elements/image/picture</pre>
  {# picture #}
  {% include '_elements/image/picture.twig' with {
    props: {
      image: placeholderImage ??? null,
      transform: 'landscape'
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="image/image">_elements/image/image</pre>
  {# imageRaw #}
  {% include '_elements/image/image.twig' with {
    props: {
      image: placeholderImage ??? null,
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="link/link">_elements/link/link</pre>
  {# link #}
  {% include '_elements/link/link.twig' with {
    props: {
      modifiers: ['primary'],
      url: 'https://davidhellmann.com',
      text: 'Primary Link'
    }
  } only %}

  {# link #}
  {% include '_elements/link/link.twig' with {
    props: {
      modifiers: ['secondary'],
      customClasses: ['ml-1'],
      url: 'https://davidhellmann.com',
      text: 'Secondary Link'
    }
  } only %}

  {# link #}
  {% include '_elements/link/link.twig' with {
    props: {
      modifiers: ['ghost'],
      customClasses: ['ml-1'],
      url: 'https://davidhellmann.com',
      text: 'Ghost Link'
    }
  } only %}

  {# link #}
  {% include '_elements/link/link.twig' with {
    props: {
      modifiers: ['outlined'],
      customClasses: ['ml-1'],
      url: 'https://davidhellmann.com',
      text: 'Outlined Link'
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="link/linkIcon">_elements/link/linkIcon</pre>
  {# linkIcon #}
  {% include '_elements/link/linkIcon.twig' with {
    props: {
      modifiers: ['primary'],
      url: 'https://davidhellmann.com',
      text: 'Primary Link',
      icon: 'icons/outline/cloud-download'
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="logo">_elements/logo</pre>
  {# logo #}
  {% include '_elements/logo/logo.twig' with {
    props: {}
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="spinner">_elements/spinner</pre>
  {# spinner #}
  <div style="position:relative; width: 100%; height: 48px; background-color: black;">
    {% include '_elements/spinner/spinner.twig' with {
      props: {}
    } only %}
  </div>

  <div style="position:relative; width: 100%; height: 48px;">
    {% include '_elements/spinner/spinner.twig' with {
      props: {
        modifiers: ['dark']
      }
    } only %}
  </div>


  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="icon">_elements/icon</pre>
  {# spinner #}
  {% include '_elements/icon/icon.twig' with {
    props: {
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/outline/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['24'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/outline/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['32'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/outline/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['48'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/outline/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['64'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/outline/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['128'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/outline/cube'
    }
  } only %}

  <br>
  {# spinner #}
  {% include '_elements/icon/icon.twig' with {
    props: {
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/filled/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['24'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/filled/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['32'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/filled/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['48'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/filled/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['64'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/filled/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['128'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/filled/cube'
    }
  } only %}

  <br>

  {# spinner #}
  {% include '_elements/icon/icon.twig' with {
    props: {
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/sharp/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['24'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/sharp/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['32'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/sharp/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['48'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/sharp/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['64'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/sharp/cube'
    }
  } only %}

  {% include '_elements/icon/icon.twig' with {
    props: {
      modifiers: ['128'],
      customClasses: ['mr-1 mt-1'],
      icon: 'icons/sharp/cube'
    }
  } only %}
</div>


<div class="l-container">
  <h3 class="mt-4">Components</h3>
  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="caption">_components/caption</pre>
  {# accordion #}
  {% include '_components/accordion/accordion.twig' with {
    props: {
      trigger: 'Accordion Trigger 1',
      content: '<p>Lorem ipsum dolor sit amet</p>'
    }
  } only %}
  {# accordion #}
  {% include '_components/accordion/accordion.twig' with {
    props: {
      trigger: 'Accordion Trigger 2',
      content: '<p>Lorem ipsum dolor sit amet</p>'
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="caption">_components/caption</pre>
  {# caption #}
  {% include '_components/caption/caption.twig' with {
    props: {
      headline: 'The quick brown fox jumps over the lazy dogs',
      text: 'Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat ocurreret te, eos diceret accumsan in',
      source: 'Baukasten',
      sourceUrl: siteUrl,
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="card/image">_components/card/image</pre>
  {# card #}
  <div style="max-width: 400px;">
    {% include '_components/card/image.twig' with {
      props: {
        image: placeholderImage ??? null,
        transform: 'landscape',
        headline: 'The quick brown fox jumps over the lazy dogs',
        copy: 'Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo.',
        linkUrl: siteUrl,
        linkText: null
      }
    } only %}
  </div>

  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="code">_components/code</pre>
  {# code #}
  {% include '_components/code/code.twig' with {
    props: {
      snippet: "/*
 |--------------------------------------------------------------------------
 | .l-container
 |--------------------------------------------------------------------------
 */

.l-container {
  @include center();
  width: 100%;
  max-width: map_get($breakpoints, 'max');
  padding-left: 2rem;
  padding-right: 2rem;

  .l-container {
    padding-left: 0;
    padding-right: 0;
  }
}
",
      language: 'scss'
    }
  } only %}

  {# code #}
  {% include '_components/code/code.twig' with {
    props: {
      customClasses: ['mt-2'],
      snippet: "npm i baukasten-grid",
      language: 'bash'
    }
  } only %}


  {# code #}
  {% include '_components/code/code.twig' with {
    props: {
      customClasses: ['mt-2'],
      snippet: "/**
 * code
 */

import ClipboardJS from 'clipboard';

const code = {
  cfg: {
    codeBlocks: [...document.querySelectorAll('.js-code')],
  },

  copyToClipboard() {
    new ClipboardJS('.js-codeCopy', {
      target: function(trigger) {
        return trigger.nextElementSibling;
      },
    });
  },

  toggleCodeBlock(els) {
    els.forEach(el => {
      const toggle = el.querySelector('.js-codeToggle');
      let status = el.getAttribute('data-status');
      const showText = toggle.getAttribute('data-show');
      const hideText = toggle.getAttribute('data-hide');

      toggle.addEventListener('click', () => {
        if (status === 'open') {
          status = 'closed';
          toggle.innerHTML = showText;
          toggle.setAttribute('data-status', 'closed');
          toggle.parentElement.parentElement.setAttribute(
            'data-status',
            'closed',
          );
        } else {
          status = 'open';
          toggle.innerHTML = hideText;
          toggle.setAttribute('data-status', 'open');
          toggle.parentElement.parentElement.setAttribute(
            'data-status',
            'open',
          );
        }
      });
    });
  },

  init() {
    if (!this.cfg.codeBlocks) return;
    this.toggleCodeBlock(this.cfg.codeBlocks);
    this.copyToClipboard();
  },
};

export default code;

",
      language: 'javascript'
    }
  } only %}


  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="definitionList">_components/definitionList</pre>
  {# definitionList #}
  {% include '_components/definitionList/definitionList.twig' with {
    props: {
      image: placeholderImage ??? null,
      items: [
        { term: 'Definition Term', description: 'The quick brown fox jumps over the lazy dogs'},
        { term: 'John Wayne', description: 'Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat ocurreret te, eos diceret accumsan in?'},
        { term: 'Lorem Ipsum ', description: 'Quick brown fox jumps over the lazy dogs'},
        { term: 'Definition Term', description: 'The quick brown fox jumps over the lazy dogs'},
        { term: 'John Wayne', description: 'Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat ocurreret te, eos diceret accumsan in?'},
      ]
    }
  } only %}


  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="figure/image">_components/figure/image</pre>
  {# figure #}
  {% include '_components/figure/image.twig' with {
    props: {
      image: placeholderImage ??? null,
      caption: true,
      captionHeadline: 'The quick brown fox jumps over the lazy dogs',
      captionText: 'Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat ocurreret te, eos diceret accumsan in.',
      captionSource: 'Baukasten',
      captionSourceUrl: siteUrl,
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="cover/image">_components/cover/image</pre>
  {# image #}
  {% include '_components/cover/image.twig' with {
    props: {
      image: placeholderImage ??? null,
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="gallery/images">_components/gallery/images</pre>
  {# galleryImage #}
  {% include '_components/gallery/images.twig' with {
    props: {
      images: [placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null]
    }
  } only %}

  {# galleryImage #}
  {% include '_components/gallery/images.twig' with {
    props: {
      customClasses: ['mt-2'],
      images: [placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null, placeholderImage ??? null,placeholderImage ??? null],
      cutAfter: 4,
      caption: true,
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="grid/images">_components/grid/images</pre>
  {# grid/image #}
  {% include '_components/grid/images.twig' with {
    props: {
      images: [placeholderImage ??? null],
      transform: 'landscape'
    }
  } only %}

  {# Spacer #}
  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      modifiers: ['2']
    }
  } only %}

  {% include '_components/grid/images.twig' with {
    props: {
      modifiers: ['2'],
      images: [placeholderImage ??? null, cat03Image ??? null],
      transform: 'portrait'
    }
  } only %}

  {# Spacer #}
  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      modifiers: ['2']
    }
  } only %}

  {% include '_components/grid/images.twig' with {
    props: {
      modifiers: ['3'],
      images: [placeholderImage ??? null, cat01Image ??? null, cat03Image ??? null],
      transform: 'portrait'
    }
  } only %}

  {# Spacer #}
  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      modifiers: ['2']
    }
  } only %}

  {% include '_components/grid/imagesCalculated.twig' with {
    props: {
      images: [placeholderImage ??? null, cat01Image ??? null],
    }
  } only %}

  {# Spacer #}
  {% include '_elements/_layout/spacer/spacer.twig' with {
    props: {
      modifiers: ['2']
    }
  } only %}

  {% include '_components/grid/imagesCalculated.twig' with {
    props: {
      images: [placeholderImage ??? null, cat01Image ??? null, cat03Image ??? null],
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="plainText">_components/plainText</pre>
  {# plainText #}
  {% set plainText %}
    An populo iriure interesset sit! Eum quas zril nostrum ei. Est no esse illum, falli doming vix no? No pri causae petentium! Id vocibus volutpat deterruisset usu, vocibus verterem sed ne, usu ne similique temporibus!

    Ex vix dicat discere partiendo, at ignota corpora mei, posse percipitur mea ut. At doming commodo deseruisse sit, eu diceret fabulas eligendi vix, sea nostrum scriptorem ad! Quo cu eius tollit instructior.
  {% endset %}

  {% include '_components/plainText/plainText.twig' with {
    props: {
      text: plainText ??? null
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="quote">_components/quote</pre>
  {# quote #}
  {% include '_components/quote/quote.twig' with {
    props: {
      quote: 'The quick brown fox jumps over the lazy dogs',
      source: 'John Wayne',
      sourceSubline: 'Createtor of nichts',
      sourceUrl: siteUrl ??? null
    }
  } only %}



  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="slider/images">_components/slider/images</pre>
  {# slider #}
  {% include '_components/slider/images.twig' with {
    props: {
      images: [
        placeholderImage ??? null,
        cat01Image ??? null,
        placeholderImage ??? null,
        cat03Image ??? null,
        placeholderImage ??? null,
        cat02Image ??? null,
        cat04Image ??? null,
        placeholderImage ??? null
      ],
      transform: 'landscape'
    }
  } only %}

  {% include '_components/slider/images.twig' with {
    props: {
      customClasses: ['mt-2'],
      images: [
        placeholderImage ??? null,
        cat01Image ??? null,
        placeholderImage ??? null,
        cat03Image ??? null,
        placeholderImage ??? null,
        cat02Image ??? null,
        cat04Image ??? null,
        placeholderImage ??? null
      ],
      transform: 'portrait'
    }
  } only %}

  {% include '_components/slider/images.twig' with {
    props: {
      customClasses: ['mt-2'],
      images: [
        placeholderImage ??? null,
        cat01Image ??? null,
        placeholderImage ??? null,
        cat03Image ??? null,
        placeholderImage ??? null,
        cat02Image ??? null,
        cat04Image ??? null,
        placeholderImage ??? null
      ],
      transform: 'square'
    }
  } only %}

  {% include '_components/slider/images.twig' with {
    props: {
      customClasses: ['mt-2'],
      images: [
        placeholderImage ??? null,
        cat01Image ??? null,
        placeholderImage ??? null,
        cat03Image ??? null,
        placeholderImage ??? null,
        cat02Image ??? null,
        cat04Image ??? null,
        placeholderImage ??? null
      ],
    }
  } only %}


  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="embed/youtube">_components/embed/youtube</pre>
  {# youtube #}
  {% include '_components/embed/youtube.twig' with {
    props: {
      videoId: 'bd4_PIxfMmQ'
    }
  } only %}
</div>


{# ============================================================== #}
{#                                                                #}
{#      DROPDOWN                                                  #}
{#                                                                #}
{# ============================================================== #}
<div id="selector">
  <select name="dropDown" id="dropDown">
    <option value="#home">Quick Menu</option>
    <option>LAYOUT</option>
    <option value="#section">- Section</option>
    <option value="#container">- Container</option>
    <option value="#row">- Row</option>
    <option value="#spacer">- Spacer</option>
    <option>ELEMENTS</option>
    <option value="#divider">- Divider</option>
    <option value="#icon">- Icon</option>
    <option value="#image/picture">- Image/Picture</option>
    <option value="#image/image">- Image/image</option>
    <option value="#link/link">- Link/Link</option>
    <option value="#link/linkIcon">- Link/LinkIcon</option>
    <option value="#logo">- Logo</option>
    <option value="#spinner">- Spinner</option>
    <option>COMPONENTS</option>
    <option value="#accordion">- Accordion</option>
    <option value="#code">- Code</option>
    <option value="#caption">- Caption</option>
    <option value="#card/image">- Card/Image</option>
    <option value="#definitionList">- Definition List</option>
    <option value="#figure/image">- Figure/Image</option>
    <option value="#cover/image">- Cover/Image</option>
    <option value="#gallery/images">- Gallery/Images</option>
    <option value="#grid/images">- Grid/Images</option>
    <option value="#plainText">- Plain Text</option>
    <option value="#quote">- Quote</option>
    <option value="#slider/images">- Slider/Images</option>
    <option value="#embed/youtube">- Embed/Youtube</option>
  </select>
</div>

<script>
  var dropDownValue = document.getElementById("dropDown");

  dropDownValue.addEventListener('change', function () {
    window.location.href = this.value;
  });
</script>

<style>
  body {
    margin-bottom: 80px;
  }

  #selector {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    z-index: 1000;
  }

  #dropDown {
    width: 280px;
    font-size: 15px;
    padding: 0.5rem 1rem;
    -webkit-appearance: none;
  }
</style>
