{% extends "_layouts/generic-page-layout.twig" %}
{% set appClass = 'p-home' %}

{% block headLinks %}
  {{ parent() }}
{% endblock headLinks %}

{# Critical CSS #}
{% block inlineCriticalCss %}
  <style>
    {{ craft.twigpack.includeFile('@webroot/dist/criticalcss/' ~ _self ~  '_critical.min.css') }}
  </style>
{% endblock %}

{% block content %}
  {# Redirect to home if on a live env #}
  {% if craft.app.config.general.custom.craftEnv == 'live' %}
    {% redirect siteUrl %}
  {% endif %}

  <section class="py-8 bg-black text-white text-2xl text-center font-bold">
    <div class="container">
      <h1>Component Library</h1>
    </div>
  </section>
  <section class="py-4">
    {% include '/dev/_dev_modules.twig' %}
  </section>
{% endblock %}

{% block subcontent %}
{% endblock %}

{# Any JavaScript that should be included before </body> #}
{% block bodyJs %}
  {{ parent() }}
{% endblock bodyJs %}
