{% extends "_layouts/generic-page-layout.twig" %}
{% set appClass = 'p-home' %}

{% block headLinks %}
  {{ parent() }}
{% endblock headLinks %}

{# Critical CSS #}
{% block inlineCriticalCss %}
  <style>
    {{ craft.twigpack.includeFile('@webroot/dist/criticalcss/' ~ _self ~  '_critical.min.css') }}
  </style>
{% endblock %}

{% block content %}
  {# Redirect to home if on a live env #}
  {% if craft.app.config.general.custom.craftEnv == 'live' %}
    {% redirect siteUrl %}
  {% endif %}

  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="image/imageRaw">_elements/image/imageRaw</pre>

  {% cache %}
    {% for i in 0..0 %}
      {# imageRaw #}
      {% include '_elements/image/picture.twig' with {
        props: {
          image: craft.assets.title('Cat 02').volume('templateImages').one() ??? null,
        }
      } only %}
    {% endfor %}
  {% endcache %}
{% endblock %}

{% block subcontent %}

{% endblock %}

{# Any JavaScript that should be included before </body> #}
{% block bodyJs %}
  {{ parent() }}
{% endblock bodyJs %}

