{% extends "_layouts/generic-page-layout.twig" %}
{% set appClass = 'p-home' %}

{% block headLinks %}
  {{ parent() }}
{% endblock headLinks %}

{% block content %}
  {# Redirect to home if on a live env #}
  {% if craft.app.config.general.custom.craftEnv == 'live' %}
    {% redirect siteUrl %}
  {% endif %}

  {# ============================================================== #}
  {#                                                                #}
  {#      SEPERATOR                                                 #}
  {#                                                                #}
  {# ============================================================== #}
  <pre class="mt-4 mb-2" id="image/imageRaw">_components/image/imageRaw</pre>

  {% cache %}
    {% for i in 0..10 %}
      {# imageRaw #}
      {% include '_components/image/picture.twig' with {
        props: {
          image: craft.assets.title('Cat 02').volume('templateImages').one() ??? null,
        }
      } only %}
    {% endfor %}
  {% endcache %}
{% endblock %}

{# Any JavaScript that should be included before </body> #}
{% block bodyJs %}
  {{ parent() }}
{% endblock bodyJs %}

