/*
 |--------------------------------------------------------------------------
 |  .c-icon
 |--------------------------------------------------------------------------
 */


.c-icon {
  display: inline-flex;

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;

    path {
      fill: currentColor;
    }

    g > * {
      fill: transparent;
    }
  }
}

/* stylelint-disable */
$bk-icons: (
    (24),
    (32),
    (48),
    (64),
    (128),
);
/* stylelint-enable */

// Ratio variants
@each $icon in $bk-icons {
  .c-icon--#{$icon} {
    > svg {
      width: #{$icon}px;
      height: #{$icon}px;
    }
  }
}
