{#
  a-icon
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-icon',

  data: {},
  icon: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{% if props.icon %}
  <span {{ macroComponentSettings.componentSettings(props) }}>
    {{ svg('@webroot/dist/img/svg/' ~ props.icon ~ '.svg') }}
  </span>
{% endif %}
