{#
  a-icon
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'a-icon',
  theme: getenv('BAUKASTEN_THEME') | default(null),
  variant: 'default',
  modifiers: [],
  customClasses: [],
  data: {},
  icon: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Baukasten:Minimal #}
{% if props.theme == 'Baukasten:Minimal' %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Custom Styling #}
{% if not props.theme == 'Baukasten:Minimal' %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{% if props.icon %}
  <span {{ module.settings(props, twClasses.root) }}>
    {{ svg('@webroot/dist/img/svg/' ~ props.icon ~ '.svg') }}
  </span>
{% endif %}
