{#
  a-icon
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-icon',
  modifiers: [],
  customClasses: [],
  data: {},
  icon: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{% if props.icon %}
  <span {{ module.settings(props) }}>
    {{ svg('@webroot/dist/img/svg/' ~ props.icon ~ '.svg') }}
  </span>
{% endif %}
