{#
  a-icon
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  name: 'c-icon',
  icon: null
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{% if props.icon %}
  <span {{ macroComponentSettings.componentSettings(props.settings) }}>
    {{ svg('@webroot/dist/img/svg/' ~ props.icon ~ '.svg') }}
  </span>
{% endif %}
