/* -------------------------------------------------- */
/*    Web Font Loaded
/* -------------------------------------------------- */

@define-mixin wf $font {
  .fonts-loaded & {
    font-family: var(--ff-$font);
  }
}

