/*
 |--------------------------------------------------------------------------
 |  lineClamp
 |--------------------------------------------------------------------------
 */

@mixin lineClamp($lines) {
  display: -webkit-box; // stylelint-disable-line
  -webkit-line-clamp: $lines; // stylelint-disable-line
  -webkit-box-orient: vertical; // stylelint-disable-line
  overflow: hidden;
  text-overflow: ellipsis;
}
