/*
 |--------------------------------------------------------------------------
 |  Easings
 |--------------------------------------------------------------------------
 */

@function ease($key) {
  @if map-has-key($easings, $key) {
    @return map-get($easings, $key);
  }

  @warn "Unknown '#{$key}' in #{map-keys($easings)}";
  @return null;
}

// Shorthand Version
@function e($key) {
  @return ease($key);
}
