/*
 |--------------------------------------------------------------------------
 |
 | Description of what this file is for
 |
 | @package Baukasten
 | @author David Hellmann [david@hellmann.io]
 | .m-gridOverlay
 |--------------------------------------------------------------------------
 */


/* stylelint-disable */
.t-devMode {
  .js-toggleGrid {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 111111111111;
    background-color: var(--c-black);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    color: var(--c-gray-200);
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    font-weight: 500;
    box-shadow: 0 2px 10px rgba(var(--c-black), 0.5);
  }


  .m-gridOverlay {
    position: fixed;
    z-index: 1111111;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: none;

    &.is-visible {
      display: block;
    }

    .container {
      position: relative;
      height: 100vh;
      outline: 1px solid rgba(#D81B60, 0.25);

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 100vh;
        @include spaceX(width, 1);
      }

      &::before {
        left: 0;
        top: 0;
        border-right: 1px dotted rgba(#D81B60, 0.25);
      }

      &::after {
        right: 0;
        top: 0;
        border-left: 1px dotted rgba(#D81B60, 0.25);
      }
    }

    .row {
      height: 100vh;
    }

    .col {
      position: relative;
      height: 100vh;
      box-shadow: 1px 0px 0px 0px rgba(#4FC3F7, 0.25);
      width: calc(1 / 6 * 100%);

      &:first-child {
        box-shadow: -1px 0px 0px 0px rgba(#4FC3F7, 0.25), 1px 0px 0px 0px rgba(#4FC3F7, 0.25);
      }

      &:nth-child(n+7) {
        display: none;
      }

      @include media('>=s') {
        width: calc(1 / 12 * 100%);

        &:nth-child(n+7) {
          display: block;
        }

        &:nth-child(n+13) {
          display: none;
        }
      }

      @include media('>=m') {
        width: calc(1 / 24 * 100%);

        &:nth-child(n+13) {
          display: block;
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 100vh;
        @include spaceX(width, 0.5);
      }

      &::before {
        left: 0;
        top: 0;
        border-right: 1px dotted rgba(#4FC3F7, 0.25);
      }

      &::after {
        right: 0;
        top: 0;
        border-left: 1px dotted rgba(#4FC3F7, 0.25);
      }
    }
  }
}

/* stylelint-enable */
