/*
 |--------------------------------------------------------------------------
 | @package  craft-baukasten
 | @author David Hellmann [david@hellmann.io]
 |
 | .a-sample-basic
 |--------------------------------------------------------------------------
 */

.a-sample-basic {
  // Put your styles here
}
