/*
 |--------------------------------------------------------------------------
 | @package  craft-baukasten
 | @author David Hellmann [david@hellmann.io]
 |
 | .a-logo--basic
 |--------------------------------------------------------------------------
 */

.a-logo--basic {
  width: auto;
  height: 60px;
  background-color: var(--c-white);

  &__link {
    display: inline-block;
  }

  svg {
    width: auto;
    height: 100%;
  }
}
