.c-navigationMain {
  a.is-active {
    color: red;
  }

  li.is-active {
    background-color: #ddd;
    padding: 1rem;
  }

  div.is-active {
    background-color: #aaa;
    padding: 1rem;
  }

  ul.is-active {
    background-color: #999;
    padding: 1rem;
  }
}
