{% set compDefaults = {
  settings: {
    name: 'c-navigationMain',
  },
  data: {
    nodes: null,
    activeNode: null
  },
  classes: {
    root: '',
    custom: '',
  },
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{% import '_macros/_macro-navigation.twig' as macroNavigation  %}

{% if props.data.nodes ??? null %}
  <nav class="{{ props.settings.name }} {{ props.classes.root}}  {{ props.classes.custom }} js-navigationMain">
    {{ macroNavigation.navigation(props.data.nodes, props.settings.name, props.data.activeNode) }}
  </nav>
{% endif %}

