{# Set Defaults #}
{% set defaults = {
  name: 'c-navigationMain',
  modifiers: [],
  customClasses: ['js-navigation'],
  nodes: null
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}
{% import '_macros/_macro-navigation.twig' as macroNavigation  %}

{% if props.nodes %}
  <nav {{ macroComponentSettings.componentSettings(props.settings) }}>
    {% set navigationMainOptions = {
      name: props.cn,
      nodes: props.nodes,
    } %}

    {{ macroNavigation.navigation(navigationMainOptions) }}
  </nav>
{% endif %}

