.c-navigationMain {
  @apply bg-gray-50 p-4;
}

.c-navigationMain__list {
  &[data-level="1"] {
    @apply flex flex-row justify-center;
  }
}

.c-navigationMain__listItem {
  @apply inline-block cursor-pointer;

  &[data-level="1"] {
    @apply relative;
  }
}

.c-navigationMain__listLink,
.c-navigationMain__listButton {
  @apply font-bold inline-block focus:outline-none focus:ring-2 focus:ring-primary-600;

  &[data-level="1"] {
    @apply px-3 py-1 rounded-full mx-2 text-sm;

    &.is-active {
      @apply text-primary-600;
    }
  }
}

.c-navigationMain__subItemsWrapper {
  &[data-level="2"] {
    @apply absolute mt-4 p-12 left-1/2 transform -translate-x-1/2 min-w-[300px] bg-white shadow-2xl rounded-lg;
  }
}

