/* -------------------------------------------------- */
/*    .o-appWrapper
/* -------------------------------------------------- */

.o-appWrapper {
  $root: &;

  .is-patternLib & {
    @include section('fluid');
    padding-top: 16px;
    padding-bottom: 64px;
    position: relative;
  }
}

/*
.js .is-complete .o-appWrapper,
.js .is-livePreview .o-appWrapper  {
  opacity: 1;
  transition: opacity 0.25s 0.125s ease('out-cubic');
}
*/
