/*
 |--------------------------------------------------------------------------
 | @package  craft-baukasten
 | @author David Hellmann [david@hellmann.io]
 |
 | .a-richText-basic
 |--------------------------------------------------------------------------
 */

.a-richText-basic {
  max-width: 80ch;
}
