// Breakpoints
@import '../02-tools/mixin.create-css-vars';

$breakpoints: (
  'min': 320px,
  's': 600px,
  'm': 800px,
  'l': 1200px,
  'max': 1600px
);

:root {
  // Create Colors
  @include createCSSVars($breakpoints, 'bp');
}

// Breakpoints
// Important to include "Include Media" at this point
// Cause we set the map our Breakpoints to their map $breakpoints
@import '~include-media/dist/include-media';

// Nothing to change here
$bk-gutter: 8px;
$bk-gutter-min-factor: 1;
$bk-gutter-max-factor: 2;
$bk-gutter-min-vertical-factor: 1;
$bk-gutter-max-vertical-factor: 2;

// Settings
$bk-grid-settings-custom: (
  testing: false,
  prefix: 'o-',
  units: (
    gutter: $bk-gutter,
    gutter-min-factor: $bk-gutter-min-factor,
    gutter-max-factor: $bk-gutter-max-factor,
    gutter-min-vertical-factor: $bk-gutter-min-vertical-factor,
    gutter-max-vertical-factor: $bk-gutter-max-vertical-factor
  ),
  offset-classes: true,
  push-classes: false,
  pull-classes: false,
  disable-padding-horizontal: false,
  breakpoints: (
    min: (from: map_get($breakpoints, min), cols: 6, create-classes: true),
    s: (from: map_get($breakpoints, s), cols: 12, create-classes: true),
    m: (from: map_get($breakpoints, m), cols: 12, create-classes: true),
    l: (from: map_get($breakpoints, l), cols: 24, create-classes: true),
    max: (from: map_get($breakpoints, max), cols: 24, create-classes: true)
  )
);

@import '~baukasten-grid/scss/baukasten-grid';
