// Font Families
@import '../02-tools/tools.mixin.create-css-vars';

$font-family-headline: 'Merriweather', Georgia 'Times New Roman', Times, serif;
$font-family-body: 'Lato', Helvetica, Arial, sans-serif;
$font-family-mono: 'Roboto Mono', 'Courier New', Courier, monospace;

$fontfamilies: (
  'headline': $font-family-headline,
  'body': $font-family-body,
  'mono': $font-family-mono,
);

:root {
  // Create Font Families
  @include createCSSVars($fontfamilies, 'ff');
}
