// Colors
@import '../02-tools/tools.mixin.create-css-vars';

$colors: (
  'black': '#000',
  'white': '#fff',
  'gray': (
    'base': '#9e9e9e',
    '50': '#fafafa',
    '100': '#f5f5f5',
    '200': '#eee',
    '300': '#e0e0e0',
    '400': '#bdbdbd',
    '500': '#9e9e9e',
    '600': '#757575',
    '700': '#616161',
    '800': '#424242',
    '900': '#212121'
  ),
  // Default Red
  'red': (
    'base': '#f44336',
    '50': '#ffebee',
    '100': '#ffcdd2',
    '200': '#ef9a9a',
    '300': '#e57373',
    '400': '#ef5350',
    '500': '#f44336',
    '600': '#e53935',
    '700': '#d32f2f',
    '800': '#c62828',
    '900': '#b71c1c',
  ),
  // Default Green
  'green': (
    'base': '#4caf50',
    '50': '#e8f5e9',
    '100': '#c8e6c9',
    '200': '#a5d6a7',
    '300': '#81c784',
    '400': '#66bb6a',
    '500': '#4caf50',
    '600': '#43a047',
    '700': '#388e3c',
    '800': '#2e7d32',
    '900': '#1b5e20',
  ),
  // Default Blue
  'blue': (
    'base': '#2196f3',
    '50': '#e3f2fd',
    '100': '#bbdefb',
    '200': '#90caf9',
    '300': '#64b5f6',
    '400': '#42a5f5',
    '500': '#2196f3',
    '600': '#1e88e5',
    '700': '#1976d2',
    '800': '#1565c0',
    '900': '#0d47a1',
  )
);

:root {
  // Create Colors
  @include createCSSVars($colors, 'c');
}
