/*
 |--------------------------------------------------------------------------
 |  o-section
 |--------------------------------------------------------------------------
 */

.o-section {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  .o-section,
  .o-section__inner {
    padding-left: 0;
    padding-right: 0;
  }
}

// Width
.o-section--w-fluid {
  max-width: none;
  padding-left: 0;
  padding-right: 0;

  .o-section__inner {
    @include section();
  }
}

// No Padding
.o-section--noPadding {
  padding-left: 0;
  padding-right: 0;
}

// Background Color
.o-section--bg-white {
  background-color: c('white');
}

.o-section--bg-lightgray {
  background-color: c('black', '05');
}

.o-section--bg-black {
  background-color: c('black');
}

// Padding Vertical
.o-section--pv-none {
  padding-top: 0;
  padding-bottom: 0;
}

.o-section--pv-small {
  @include section-padding(1);
}

.o-section--pv-medium {
  @include section-padding(2);
}

.o-section--pv-large {
  @include section-padding(3);
}

.o-section--pv-xlarge {
  @include section-padding(4);
}

