{#
  o-section
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-section',
  modifiers: [],
  customClasses: [],
  closetags: true
} %}

{# Merge Default with Options #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# Macros #}
{% import '_partials/macros/_macro-settings.twig' as module %}

{# Modul #}
{# Include Variant #}
{% include [
  '_atoms/embed/_variant-' ~ opt.variant ~ '.twig',
  '_atoms/embed/_variant-basic.twig'
  ] %}
<section {{ module.settings(opt) }}>
  <div class="{{ opt.cn ~ '__inner' }}">
    {% block sectionContent %}{% endblock %}
    {% if opt.closetags %}
  </div>
</section>
{% endif %}
