/*
 |--------------------------------------------------------------------------
 |
 | Description of what this file is for
 |
 | @package Baukasten
 | @author David Hellmann [davidhellmann.com@gmail.com]
 | .o-imageSingle
 |--------------------------------------------------------------------------
 */


.o-imageSingle {
  /* silence */
}
