/*
 |--------------------------------------------------------------------------
 |  c-imageGallery
 |--------------------------------------------------------------------------
 */

@import '~photoswipe/dist/photoswipe';

.c-imageGallery {
  margin-top: -2rem;

  &__inner {
    @include row();
  }

  &__figure {
    margin-top: 2rem;
    @include col(3, 6);
    @include col-padding();

    @include media('>=s') {
      @include col(8, 24);
    }

    @include media('>=l') {
      @include col(4, 24);
    }
  }

  &__link {
    display: block;
  }

  .a-image {
    margin-top: 0;
  }
}

/*// PhotoSwipe Stuff*/
.pswp__bg {
  background: rgba(white, 0.98);
}
