/*
 |--------------------------------------------------------------------------
 |  o-imageGallery
 |--------------------------------------------------------------------------
 */

@import '~photoswipe/dist/photoswipe';


.o-imageGallery {
  $root: &;

  &__inner {
    @include row();
  }

  &__figure {
    @include vr();
    @include col(3, 6);
    @include col-padding();

    @include media('>=s') {
      @include col(8, 24);
    }

    @include media('>=l') {
      @include col(4, 24);
    }
  }

  &__link {
    display: block;
  }

  .a-image {
    margin-top: 0;
  }
}


.o-imageGallery--modifier {
  .o-imageGallery__block {
    /*// Styles here*/
  }

  @at-root {
    /*// Use this for nesting with root selector*/
  }
}

/*// PhotoSwipe Stuff*/
.pswp__bg {
  background: rgba(c('white'), 0.98);
}
