# Override the web container's standard HTTP_EXPOSE and HTTPS_EXPOSE services
# to expose port `3100` of DDEV's web container.
version: '3.6'
services:
  web:
    expose:
      - '3100'
    environment:
      - HTTP_EXPOSE=${DDEV_ROUTER_HTTP_PORT}:80,${DDEV_MAILHOG_PORT}:8025,3101:3100
      - HTTPS_EXPOSE=${DDEV_ROUTER_HTTPS_PORT}:80,${DDEV_MAILHOG_HTTPS_PORT}:8025,3100:3100
