/* -------------------------------------------------- */
/*    o-accordion
/* -------------------------------------------------- */

.o-accordion {
  $root: &;
  @include vr();
  user-select: none;

  &--no-margin {
    margin-top: 0;
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-top: 1px solid var(--c-gray-200);
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid var(--c-gray-200);
    }
  }

  &__trigger {
    @include col-padding();
  }

  &__headline {
    @include f(s(2), s(4), padding-top padding-bottom);
    @include f(s(6), s(12), padding-right);
    @include ms-respond(font-size, 1);
    position: relative;
    transition: all 0.25s var(--ease-out-cubic);

    &::before,
    &::after {
      content: '';
      width: 10px;
      height: 2px;
      position: absolute;
      top: calc(50%);
      background-color: var(--c-red);
      transition: all 250ms var(--ease-out-cubic);
    }

    &::before {
      transform: rotate(45deg);
      right: calc(0.5rem + 6px);
    }

    &::after {
      transform: rotate(-45deg);
      right: 0.5rem;
    }

    .is-open & {
      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }

  &__content {
    display: none;
    @include section-padding(1);
    @include col-padding();
    width: 100%;

    @include media('>=m') {
      width: calc(100% - 128px);
    }

    p:first-of-type {
      margin-top: 0;
    }
  }
}
