/*
 |--------------------------------------------------------------------------
 |  c-sliderImages
 |--------------------------------------------------------------------------
 */

.c-sliderImages {
  $root: &;
  position: relative;
  @include row();

  &__slider {
    [swiper-pagination="true"] & {
      padding-bottom: 40px;
    }

    [swiper-progressbar="true"] & {
      padding-bottom: 12px;
    }
  }

  &__slide.swiper-slide {
    @include col(5, 6);
    @include col-padding();
    height: auto;

    &:last-child {
      margin-right: 0;
    }

    .is-resizing &,
    .is-resizing & > a {
      transition: none;
    }

    &.swiper-slide-active,
    &.swiper-slide-active ~ #{$root}__slide {
      opacity: 1;
    }

    @include media('>=m') {
      @include col(9, 12);
    }

    @include media('>=l') {
      @include col(18, 24);
    }
  }
}
