/*
 |--------------------------------------------------------------------------
 |  c-sliderImages
 |--------------------------------------------------------------------------
 */

.c-sliderImages {
  $root: &;
  position: relative;
  @include row();

  .no-touchevents & {
    &[swiper-pagination="true"] #{$root}__slider {
      padding-bottom: 40px;
    }

    &[swiper-progressbar="true"] #{$root}__slider {
      padding-bottom: 12px;
    }
  }

  .has-touchevents & .swiper-wrapper {
    padding-bottom: 8px;
  }

  &__slide.swiper-slide {
    @include col(5, 6);
    @include col-padding();
    height: auto;
    margin: 0;

    .is-resizing &,
    .is-resizing & > a {
      transition: none;
    }

    @include media('>=m') {
      @include col(5, 12);
    }

    @include media('>=l') {
      @include col(7, 24);
    }
  }
}
