{#
  o-slider
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-sliderImages',
  modifiers: [],
  customClasses: [],
  data: {},
  images: null,
  caption: null,
  ratio: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Merge JS Class #}
{% set props= props| merge({  customClasses: props.customClasses | merge(['js-sliderImages is-hidden'])}) %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.images %}
  <div {{ module.settings(props) }}>
    <!-- Slides -->
    {% for image in props.images %}
      <div class="{{ props.cn ~ '__slide' }}">
        {% include '_components/figure/figure.twig' with {
          props: {
            image: image ??? null,
            ratio: props.ratio ??? null,
            caption: props.caption ??? null,
            captionHeadline: image.imageTitle ??? null,
            captionText: image.imageCaption ??? null,
            captionSource: image.imageSource ??? null,
            captionSourceUrl: image.imageSourceUrl ??? null
          }
        } only %}
      </div>
    {% endfor %}
  </div>
{% endif %}
